/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 101, ../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 105, ../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 108, ../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 13, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset.buttons {
  text-align: center;
}
/* line 17, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset.buttons li.commit input[type=submit] {
  margin: 10pt 10px;
  padding: 5px;
  font-size: 1.2em;
  text-align: right;
}

/* line 23, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset {
  text-align: left;
}
/* line 25, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset legend {
  padding: 0.75em 0em;
  font-weight: bold;
  font-size: 1.25em;
}

/* line 30, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol {
  padding-left: 1.5em;
}
/* line 32, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li {
  padding-bottom: 1.5em;
  clear: both;
}
/* line 36, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
  font-weight: bold;
}
/* line 43, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.error {
  background: #ffffcc;
  padding: 8px 0px 3px 6px;
  border-top: 1px dashed #ffcc66;
  border-bottom: 1px dashed #ffcc66;
}
/* line 49, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.error .inline-errors {
  color: #660000;
}
/* line 53, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string fieldset, form.formtastic fieldset ol li.password fieldset, form.formtastic fieldset ol li.numeric fieldset, form.formtastic fieldset ol li.select fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 56, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string legend, form.formtastic fieldset ol li.password legend, form.formtastic fieldset ol li.numeric legend, form.formtastic fieldset ol li.select legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 59, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.select input {
  width: 400px;
}
/* line 61, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input.text, form.formtastic fieldset ol li.string input.title, form.formtastic fieldset ol li.string input[type=text], form.formtastic fieldset ol li.string input[type=password], form.formtastic fieldset ol li.string input.password, form.formtastic fieldset ol li.password input.text, form.formtastic fieldset ol li.password input.title, form.formtastic fieldset ol li.password input[type=text], form.formtastic fieldset ol li.password input[type=password], form.formtastic fieldset ol li.password input.password, form.formtastic fieldset ol li.numeric input.text, form.formtastic fieldset ol li.numeric input.title, form.formtastic fieldset ol li.numeric input[type=text], form.formtastic fieldset ol li.numeric input[type=password], form.formtastic fieldset ol li.numeric input.password, form.formtastic fieldset ol li.select input.text, form.formtastic fieldset ol li.select input.title, form.formtastic fieldset ol li.select input[type=text], form.formtastic fieldset ol li.select input[type=password], form.formtastic fieldset ol li.select input.password {
  border: 1px solid gray;
  margin: 0em 0;
  background-color: white;
  padding: 5px;
  font-size: 1.2em;
}
/* line 67, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input.title, form.formtastic fieldset ol li.password input.title, form.formtastic fieldset ol li.numeric input.title, form.formtastic fieldset ol li.select input.title {
  font-size: 1.5em;
}
/* line 69, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input[type=checkbox], form.formtastic fieldset ol li.string input.checkbox, form.formtastic fieldset ol li.string input[type=radio], form.formtastic fieldset ol li.string input.radio, form.formtastic fieldset ol li.password input[type=checkbox], form.formtastic fieldset ol li.password input.checkbox, form.formtastic fieldset ol li.password input[type=radio], form.formtastic fieldset ol li.password input.radio, form.formtastic fieldset ol li.numeric input[type=checkbox], form.formtastic fieldset ol li.numeric input.checkbox, form.formtastic fieldset ol li.numeric input[type=radio], form.formtastic fieldset ol li.numeric input.radio, form.formtastic fieldset ol li.select input[type=checkbox], form.formtastic fieldset ol li.select input.checkbox, form.formtastic fieldset ol li.select input[type=radio], form.formtastic fieldset ol li.select input.radio {
  position: relative;
  top: 0em;
}
/* line 73, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input[type=submit], form.formtastic fieldset ol li.password input[type=submit], form.formtastic fieldset ol li.numeric input[type=submit], form.formtastic fieldset ol li.select input[type=submit] {
  margin: 10pt 10px;
  padding: 5px;
  font-size: 1.3em;
  padding: 5px 10px;
  background: green;
  color: white;
}
/* line 80, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string select, form.formtastic fieldset ol li.password select, form.formtastic fieldset ol li.numeric select, form.formtastic fieldset ol li.select select {
  margin: 0em 0;
  background-color: white;
  padding: 5px;
  font-size: 1.2em;
}
/* line 86, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string .inline-hints, form.formtastic fieldset ol li.password .inline-hints, form.formtastic fieldset ol li.numeric .inline-hints, form.formtastic fieldset ol li.select .inline-hints {
  width: 400px;
  padding-left: 25%;
  font-size: 0.8em;
  color: #666666;
  margin-top: 0.25em;
}
/* line 94, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.text textarea {
  width: 400px;
  height: 5em;
  margin: 0em 0;
  padding: 5px;
}
/* line 100, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.text .inline-hints {
  width: 400px;
  padding-left: 25%;
  font-size: 0.8em;
  color: #666666;
  margin-top: 0.25em;
}
/* line 109, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.radio fieldset {
  overflow: hidden;
  width: 100%;
  padding-top: 0.2em;
}
/* line 114, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.radio fieldset legend {
  text-align: left;
  width: 25%;
  float: left;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}
/* line 122, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.radio fieldset ol {
  width: 400px;
  float: left;
}
/* line 125, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.radio fieldset ol li {
  display: inline;
  padding: 0px;
  margin: 0px;
}
/* line 129, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.radio fieldset ol li label {
  width: 40px;
}
/* line 133, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
}
/* line 135, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.boolean p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
  clear: both;
}
/* line 139, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.boolean input {
  margin-right: 5px;
}

/* CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them. */
/* line 7, ../../../app/stylesheets/_jquery.scroll.sass */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 11, ../../../app/stylesheets/_jquery.scroll.sass */
.jspPane {
  position: absolute;
}

/* line 14, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

/* line 21, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

/* line 28, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar *, .jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

/* line 32, ../../../app/stylesheets/_jquery.scroll.sass */
.jspCap {
  display: none;
}

/* line 35, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspCap {
  float: left;
}

/* line 38, ../../../app/stylesheets/_jquery.scroll.sass */
.jspTrack {
  position: relative;
}

/* line 41, ../../../app/stylesheets/_jquery.scroll.sass */
.jspDrag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 48, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

/* line 52, ../../../app/stylesheets/_jquery.scroll.sass */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
/* line 57, ../../../app/stylesheets/_jquery.scroll.sass */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 61, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 64, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

/* line 69, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 72, ../../../app/stylesheets/_jquery.scroll.sass */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 79, ../../../app/stylesheets/_jquery.scroll.sass */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

/* incase an inverted custom gradient isn't specified */
/* line 176, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, body #main #container .trans a.button, body #main #container .trans input.button, body #main #container .gray_trans a.button, body #main #container .gray_trans input.button, a.button, .gray-button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1298338266') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, body #main #container .trans a.button::-moz-focus-inner, body #main #container .trans input.button::-moz-focus-inner, body #main #container .gray_trans a.button::-moz-focus-inner, body #main #container .gray_trans input.button::-moz-focus-inner, a.button::-moz-focus-inner, .gray-button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, body #main #container .trans a.button:focus, body #main #container .trans input.button:focus, body #main #container .gray_trans a.button:focus, body #main #container .gray_trans input.button:focus, a.button:focus, .gray-button:focus {
  outline: none;
}

/* Default Facebook CSS */
/* line 3, ../../../app/stylesheets/_facebook_styles.sass */
.fbbody {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
}
/* line 7, ../../../app/stylesheets/_facebook_styles.sass */
.fbbody a {
  color: #3b5998;
  outline-style: none;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 15, ../../../app/stylesheets/_facebook_styles.sass */
.fbbody a:hover {
  text-decoration: underline;
}
/* line 18, ../../../app/stylesheets/_facebook_styles.sass */
.fbbody p {
  margin-top: 5px;
}

/* Default Anchor Style */
/* Facebook Box Styles */
/* line 27, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock {
  width: 458px;
  background: white;
  padding: 10px;
  line-height: 0.9em;
  margin-bottom: 20px;
}
/* line 35, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbHeader .arrow {
  background: transparent url(/images/facebook/fb_sprite.png) -120px -91px no-repeat;
  display: inline-block;
  height: 9px;
  width: 11px;
}
/* line 41, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbProfilePic {
  width: 65px;
}
/* line 43, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbProfilePic img {
  width: 50px;
  height: 50px;
}
/* line 47, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbbody {
  width: 370px;
}
/* line 50, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbMessageBox {
  border-left: 2px solid #cccccc;
  padding-left: 5px;
  color: gray;
  margin: 5px 0px;
  padding-left: 10px;
}
/* line 57, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbMessageBox.withPic {
  border-left: none;
}
/* line 59, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbMessageBox.withPic .fbbody {
  width: 300px;
}
/* line 62, ../../../app/stylesheets/_facebook_styles.sass */
.fbUIBlock .fbFooter {
  background: url(/images/facebook/like_sprite.png) no-repeat;
  padding-left: 20px;
  height: 15px;
  color: gray;
}

/* line 68, ../../../app/stylesheets/_facebook_styles.sass */
.fbgreybox {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

/* line 76, ../../../app/stylesheets/_facebook_styles.sass */
.fbbluebox {
  background-color: #eceff6;
  border: 1px solid #d4dae8;
  color: #333333;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

/* line 84, ../../../app/stylesheets/_facebook_styles.sass */
.fbinfobox {
  background-color: #fff9d7;
  border: 1px solid #e2c822;
  color: #333333;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

/* line 92, ../../../app/stylesheets/_facebook_styles.sass */
.fberrorbox {
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
  color: #333333;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

/* Content Divider on White Background */
/* line 102, ../../../app/stylesheets/_facebook_styles.sass */
.fbcontentdivider {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 520px;
  height: 1px;
  background-color: #d8dfea;
}

/* Facebook Tab Style */
/* line 111, ../../../app/stylesheets/_facebook_styles.sass */
.fbtab {
  padding: 8px;
  background-color: #d8dfea;
  color: #3b5998;
  font-weight: bold;
  float: left;
  margin-right: 4px;
  text-decoration: none;
}
/* line 119, ../../../app/stylesheets/_facebook_styles.sass */
.fbtab:hover {
  background-color: #3b5998;
  color: white;
  cursor: hand;
}

/* line 1, ../../../app/stylesheets/_flash.sass */
#flash {
  display: none;
  width: 100%;
  border-bottom: 2px solid gray;
  text-align: center;
  padding-top: 35px;
  background-color: #003048;
  z-index: 2;
  position: absolute;
  height: 78px;
  font-size: 24px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
}
/* line 16, ../../../app/stylesheets/_flash.sass */
#flash #flash_close {
  background: url(/images/icons/flash_close.png) no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 32px;
  display: block;
  z-index: 3;
}
/* line 25, ../../../app/stylesheets/_flash.sass */
#flash #flash_notice {
  color: white;
}
/* line 28, ../../../app/stylesheets/_flash.sass */
#flash #flash_notice, #flash #flash_alert, #flash #flash_error {
  width: 80%;
  margin: 0 auto;
}
/* line 32, ../../../app/stylesheets/_flash.sass */
#flash.alert, #flash.error {
  background-color: #cc0000;
  color: white;
}

/* line 37, ../../../app/stylesheets/_flash.sass */
.fieldWithErrors {
  display: inline;
}

/* line 40, ../../../app/stylesheets/_flash.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 49, ../../../app/stylesheets/_flash.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 58, ../../../app/stylesheets/_flash.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 60, ../../../app/stylesheets/_flash.sass */
.error_messages ul {
  margin: 0;
}

/* line 9, ../../../app/stylesheets/application.sass */
html, body {
  padding: 0px;
  margin: 0px;
}

/* line 13, ../../../app/stylesheets/application.sass */
body {
  background-color: #f1f1f1;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
}
/* line 17, ../../../app/stylesheets/application.sass */
body #main {
  z-index: 50;
  min-height: 100%;
  position: relative;
}
/* line 22, ../../../app/stylesheets/application.sass */
body #main a {
  color: blue;
}
/* line 25, ../../../app/stylesheets/application.sass */
body #main a img {
  border: none;
}
/* line 28, ../../../app/stylesheets/application.sass */
body #main .clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
/* line 33, ../../../app/stylesheets/application.sass */
body #main .qtip {
  cursor: pointer;
}
/* line 37, ../../../app/stylesheets/application.sass */
body #main #header table {
  width: 100%;
  margin: 0px;
  height: 30px;
  padding: 5px 0px;
  font-size: 0.85em;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background: #336600;
  color: white;
}
/* line 45, ../../../app/stylesheets/application.sass */
body #main #header table a {
  color: white;
}
/* line 48, ../../../app/stylesheets/application.sass */
body #main #header table .left {
  width: 150px;
}
/* line 50, ../../../app/stylesheets/application.sass */
body #main #header table .left #processing_spinner {
  margin: 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  padding: 2px;
  height: 24px;
  width: 24px;
  vertical-align: top;
  display: none;
}
/* line 60, ../../../app/stylesheets/application.sass */
body #main #header table .navs {
  overflow: hidden;
}
/* line 62, ../../../app/stylesheets/application.sass */
body #main #header table .navs .nav {
  float: left;
  margin-right: 20px;
  text-transform: capitalize;
  font-size: 14px;
}
/* line 68, ../../../app/stylesheets/application.sass */
body #main #header table .navs .nav a {
  text-decoration: none;
}
/* line 71, ../../../app/stylesheets/application.sass */
body #main #header table .navs .nav a:hover {
  text-decoration: underline;
  color: yellow;
}
/* line 75, ../../../app/stylesheets/application.sass */
body #main #header table .navs .nav img {
  width: 14px;
  vertical-align: baseline;
}
/* line 80, ../../../app/stylesheets/application.sass */
body #main #header table .navs .nav.classify a {
  color: #feedb3;
}
/* line 84, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg {
  color: white;
}
/* line 87, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg table {
  margin: 0 auto;
}
/* line 90, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg table img {
  height: 24px;
  widght: 24px;
  margin: 0px 5px;
  vertical-align: baseline;
  border: 2px solid white;
}
/* line 97, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg table em {
  font-size: 11px;
  font-style: italic;
}
/* line 101, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg table .statement {
  font-weight: bold;
  margin-top: 3px;
}
/* line 105, ../../../app/stylesheets/application.sass */
body #main #header table #candidate_supporter_msg table .statement .candidates_cause {
  color: yellow;
  display: inline;
}
/* line 109, ../../../app/stylesheets/application.sass */
body #main #header table .right {
  text-align: right;
  padding-right: 10px;
  vertical-align: center;
}
/* line 113, ../../../app/stylesheets/application.sass */
body #main #header table .right .nav {
  display: inline;
  margin-right: 15px;
}
/* line 116, ../../../app/stylesheets/application.sass */
body #main #header table .right .nav a {
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
}
/* line 121, ../../../app/stylesheets/application.sass */
body #main #header table .right .nav a:hover {
  text-decoration: underline;
  color: yellow;
}
/* line 127, ../../../app/stylesheets/application.sass */
body #main #container {
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 150px;
}
/* line 133, ../../../app/stylesheets/application.sass */
body #main #container h1, body #main #container h2, body #main #container h3, body #main #container h4, body #main #container p {
  margin-bottom: 0.75em;
}
/* line 136, ../../../app/stylesheets/application.sass */
body #main #container h1.beta, body #main #container h2.beta, body #main #container h3.beta, body #main #container h4.beta, body #main #container p.beta {
  color: red;
}
/* line 139, ../../../app/stylesheets/application.sass */
body #main #container .trans {
  padding: 10px;
  margin-bottom: 10px;
  background: url(/images/white_90.png);
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 145, ../../../app/stylesheets/application.sass */
body #main #container .trans a.button, body #main #container .trans input.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  text-decoration: none;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .trans a.button, body #main #container .trans a.button:visited, body #main #container .trans input.button, body #main #container .trans input.button:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .trans a.button:hover, body #main #container .trans a.button:focus, body #main #container .trans input.button:hover, body #main #container .trans input.button:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .trans a.button:hover, body #main #container .trans a.button:hover:visited, body #main #container .trans a.button:focus, body #main #container .trans a.button:focus:visited, body #main #container .trans input.button:hover, body #main #container .trans input.button:hover:visited, body #main #container .trans input.button:focus, body #main #container .trans input.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .trans a.button:active, body #main #container .trans input.button:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .trans a.button:active, body #main #container .trans a.button:active:visited, body #main #container .trans input.button:active, body #main #container .trans input.button:active:visited {
  color: white;
}
/* line 150, ../../../app/stylesheets/application.sass */
body #main #container .gray_trans {
  padding: 10px;
  margin-bottom: 10px;
  background: #dedede;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 156, ../../../app/stylesheets/application.sass */
body #main #container .gray_trans a.button, body #main #container .gray_trans input.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  text-decoration: none;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .gray_trans a.button, body #main #container .gray_trans a.button:visited, body #main #container .gray_trans input.button, body #main #container .gray_trans input.button:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .gray_trans a.button:hover, body #main #container .gray_trans a.button:focus, body #main #container .gray_trans input.button:hover, body #main #container .gray_trans input.button:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .gray_trans a.button:hover, body #main #container .gray_trans a.button:hover:visited, body #main #container .gray_trans a.button:focus, body #main #container .gray_trans a.button:focus:visited, body #main #container .gray_trans input.button:hover, body #main #container .gray_trans input.button:hover:visited, body #main #container .gray_trans input.button:focus, body #main #container .gray_trans input.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .gray_trans a.button:active, body #main #container .gray_trans input.button:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
body #main #container .gray_trans a.button:active, body #main #container .gray_trans a.button:active:visited, body #main #container .gray_trans input.button:active, body #main #container .gray_trans input.button:active:visited {
  color: white;
}
/* line 161, ../../../app/stylesheets/application.sass */
body #main #container #copy {
  margin: 0.25em auto;
}
/* line 164, ../../../app/stylesheets/application.sass */
body #main #container #copy.boxit {
  padding: 15px;
  background: white;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 170, ../../../app/stylesheets/application.sass */
body #main #container #copy h1 {
  text-align: center;
}
/* line 173, ../../../app/stylesheets/application.sass */
body #main #container #copy h2 {
  text-align: center;
}
/* line 176, ../../../app/stylesheets/application.sass */
body #main #container #copy h3 {
  text-align: center;
}
/* line 179, ../../../app/stylesheets/application.sass */
body #main #container #copy p, body #main #container #copy ul {
  font-size: 12pt;
  width: 650px;
  margin: 1em auto;
  line-height: 1.25em;
  display: block;
}
/* line 186, ../../../app/stylesheets/application.sass */
body #main #container #copy.justify {
  text-align: left;
}
/* line 189, ../../../app/stylesheets/application.sass */
body #main #container .spark_history {
  width: 95%;
  font-size: 12px;
}
/* line 192, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .pic {
  width: 30px;
  margin-right: 10px;
}
/* line 194, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .pic img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
/* line 200, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .text {
  display: block;
  width: 90%;
  text-align: left;
  line-height: 1.25em;
}
/* line 206, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .text .name a {
  color: #1a8922;
  font-weight: bold;
  text-decoration: none;
}
/* line 211, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .text .name a:hover {
  text-decoration: underline;
}
/* line 213, ../../../app/stylesheets/application.sass */
body #main #container .spark_history .text .not_selected_name {
  color: #990000;
}
/* line 216, ../../../app/stylesheets/application.sass */
body #main #footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-top: 25px;
  width: 100%;
  background: #333333;
  text-align: center;
  font: normal 12px/20px helvetica, arial, sans-serif;
  border-top: 2px solid white;
}
/* line 227, ../../../app/stylesheets/application.sass */
body #main #footer a {
  color: #c8cbb3;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
}
/* line 233, ../../../app/stylesheets/application.sass */
body #main #footer a:hover {
  color: red;
}
/* line 237, ../../../app/stylesheets/application.sass */
body #main #footer #navs .nav {
  display: inline;
  padding-right: 15px;
}
/* line 241, ../../../app/stylesheets/application.sass */
body #main #footer #copyright {
  clear: both;
  padding-top: 0.75em;
  color: #b3cbb3;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* line 248, ../../../app/stylesheets/application.sass */
.trigger {
  display: none;
}

/* line 251, ../../../app/stylesheets/application.sass */
a.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  text-decoration: none;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
a.button, a.button:visited {
  color: white;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:hover:visited, a.button:focus, a.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
a.button:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
a.button:active, a.button:active:visited {
  color: white;
}

/* line 256, ../../../app/stylesheets/application.sass */
.gray-button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(50%, #d9d9d9), color-stop(50%, #d1d1d1), color-stop(100%, #ebebeb));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #d9d9d9 50%, #d1d1d1 50%, #ebebeb 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #d9d9d9 50%, #d1d1d1 50%, #ebebeb 100%);
  border-color: #bababa;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.88) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.88) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.gray-button, .gray-button:visited {
  color: #222222;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.gray-button:hover, .gray-button:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(50%, #d1d1d1), color-stop(50%, #c9c9c9), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #d1d1d1 50%, #c9c9c9 50%, #e3e3e3 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #d1d1d1 50%, #c9c9c9 50%, #e3e3e3 100%);
  border-color: #b3b3b3;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.gray-button:hover, .gray-button:hover:visited, .gray-button:focus, .gray-button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.gray-button:active {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d1d1d1), color-stop(30%, #d6d6d6), color-stop(50%, #cccccc), color-stop(50%, #c4c4c4), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #d1d1d1 0%, #d6d6d6 30%, #cccccc 50%, #c4c4c4 50%, #e6e6e6 100%);
  background-image: linear-gradient(top, #d1d1d1 0%, #d6d6d6 30%, #cccccc 50%, #c4c4c4 50%, #e6e6e6 100%);
  border-color: #ababab;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #bababa 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #bababa 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #bababa 0 0.08em 0.1em 1px inset;
  box-shadow: #bababa 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.gray-button:active, .gray-button:active:visited {
  color: #222222;
}
