/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 19, ../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 22, ../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 74, ../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 78, ../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 81, ../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 13, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset.buttons {
  text-align: center;
}
/* line 17, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset.buttons li.commit input[type=submit] {
  margin: 10pt 10px;
  padding: 5px;
  font-size: 1.2em;
  text-align: right;
}

/* line 24, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset legend {
  padding: 0.75em 0em;
  font-weight: bold;
  font-size: 1.25em;
}

/* line 29, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol {
  padding-left: 1.5em;
}
/* line 31, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li {
  margin-bottom: 0.5em;
  clear: both;
}
/* line 35, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
  font-weight: bold;
}
/* line 42, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.error {
  background: #ffffcc;
  padding: 8px 0px 3px 6px;
  border-top: 1px dashed #ffcc66;
  border-bottom: 1px dashed #ffcc66;
}
/* line 48, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.error .inline-errors {
  color: #660000;
}
/* line 52, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string fieldset, form.formtastic fieldset ol li.password fieldset, form.formtastic fieldset ol li.numeric fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 55, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string legend, form.formtastic fieldset ol li.password legend, form.formtastic fieldset ol li.numeric legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 58, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input {
  width: 400px;
}
/* line 60, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input.text, form.formtastic fieldset ol li.string input.title, form.formtastic fieldset ol li.string input[type=text], form.formtastic fieldset ol li.string input[type=password], form.formtastic fieldset ol li.string input.password, form.formtastic fieldset ol li.password input.text, form.formtastic fieldset ol li.password input.title, form.formtastic fieldset ol li.password input[type=text], form.formtastic fieldset ol li.password input[type=password], form.formtastic fieldset ol li.password input.password, form.formtastic fieldset ol li.numeric input.text, form.formtastic fieldset ol li.numeric input.title, form.formtastic fieldset ol li.numeric input[type=text], form.formtastic fieldset ol li.numeric input[type=password], form.formtastic fieldset ol li.numeric input.password {
  border: 1px solid gray;
  margin: 0em 0;
  background-color: white;
  padding: 5px;
  font-size: 1.2em;
}
/* line 66, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input.title, form.formtastic fieldset ol li.password input.title, form.formtastic fieldset ol li.numeric input.title {
  font-size: 1.5em;
}
/* line 68, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input[type=checkbox], form.formtastic fieldset ol li.string input.checkbox, form.formtastic fieldset ol li.string input[type=radio], form.formtastic fieldset ol li.string input.radio, form.formtastic fieldset ol li.password input[type=checkbox], form.formtastic fieldset ol li.password input.checkbox, form.formtastic fieldset ol li.password input[type=radio], form.formtastic fieldset ol li.password input.radio, form.formtastic fieldset ol li.numeric input[type=checkbox], form.formtastic fieldset ol li.numeric input.checkbox, form.formtastic fieldset ol li.numeric input[type=radio], form.formtastic fieldset ol li.numeric input.radio {
  position: relative;
  top: 0em;
}
/* line 72, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string input[type=submit], form.formtastic fieldset ol li.password input[type=submit], form.formtastic fieldset ol li.numeric input[type=submit] {
  margin: 10pt 10px;
  padding: 5px;
  font-size: 1.3em;
  padding: 5px 10px;
  background: green;
  color: white;
}
/* line 79, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string select, form.formtastic fieldset ol li.password select, form.formtastic fieldset ol li.numeric select {
  margin: 0em 0;
  font-size: 1.2em;
}
/* line 83, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.string .inline-hints, form.formtastic fieldset ol li.password .inline-hints, form.formtastic fieldset ol li.numeric .inline-hints {
  width: 400px;
  padding-left: 25%;
  font-size: 0.8em;
  color: #666666;
  margin-top: 0.25em;
}
/* line 91, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.text textarea {
  width: 400px;
  height: 5em;
  margin: 0em 0;
  padding: 5px;
}
/* line 98, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
}
/* line 100, ../../../app/stylesheets/_formtastic_changes.sass */
form.formtastic fieldset ol li.boolean p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
  clear: both;
}

/* CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them. */
/* line 7, ../../../app/stylesheets/_jquery.scroll.sass */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 11, ../../../app/stylesheets/_jquery.scroll.sass */
.jspPane {
  position: absolute;
}

/* line 14, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

/* line 21, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

/* line 28, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar *, .jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

/* line 32, ../../../app/stylesheets/_jquery.scroll.sass */
.jspCap {
  display: none;
}

/* line 35, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspCap {
  float: left;
}

/* line 38, ../../../app/stylesheets/_jquery.scroll.sass */
.jspTrack {
  position: relative;
}

/* line 41, ../../../app/stylesheets/_jquery.scroll.sass */
.jspDrag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 48, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

/* line 52, ../../../app/stylesheets/_jquery.scroll.sass */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
/* line 57, ../../../app/stylesheets/_jquery.scroll.sass */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 61, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 64, ../../../app/stylesheets/_jquery.scroll.sass */
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

/* line 69, ../../../app/stylesheets/_jquery.scroll.sass */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 72, ../../../app/stylesheets/_jquery.scroll.sass */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 79, ../../../app/stylesheets/_jquery.scroll.sass */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

/* line 6, ../../../app/stylesheets/application.sass */
html, body {
  padding: 0px;
  margin: 0px;
}

/* line 10, ../../../app/stylesheets/application.sass */
body {
  background-color: #f1f1f1;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
}
/* line 14, ../../../app/stylesheets/application.sass */
body #main {
  background-color: white;
  border: 1px solid white;
}

/* line 18, ../../../app/stylesheets/application.sass */
a {
  color: blue;
}
/* line 20, ../../../app/stylesheets/application.sass */
a img {
  border: none;
}

/* line 23, ../../../app/stylesheets/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 28, ../../../app/stylesheets/application.sass */
#flash {
  display: none;
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid gray;
  text-align: center;
  background-color: #e0a733;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  z-index: 2;
  position: absolute;
}

/* line 41, ../../../app/stylesheets/application.sass */
#header {
  width: 98%;
  height: 30px;
  padding: 5px 10px;
  font-size: 0.85em;
}
/* line 47, ../../../app/stylesheets/application.sass */
#header img {
  height: 24px;
  widght: 24px;
  margin-right: 5px;
  vertical-align: baseline;
}

/* line 53, ../../../app/stylesheets/application.sass */
#container {
  width: 960px;
  margin: 0 auto;
  background: white;
  padding: 5px 40px;
}
/* line 59, ../../../app/stylesheets/application.sass */
#container h1, #container h2, #container h3 {
  margin-bottom: 0.75em;
}
/* line 62, ../../../app/stylesheets/application.sass */
#container #copy {
  margin: 0.25em auto;
  text-align: center;
}
/* line 66, ../../../app/stylesheets/application.sass */
#container #copy h1 {
  text-align: center;
}
/* line 69, ../../../app/stylesheets/application.sass */
#container #copy h2 {
  text-align: center;
}
/* line 72, ../../../app/stylesheets/application.sass */
#container #copy h3 {
  text-align: left;
  width: 650px;
}
/* line 76, ../../../app/stylesheets/application.sass */
#container #copy p {
  font-size: 12pt;
  width: 650px;
  margin: 1em auto;
  text-align: center;
  line-height: 1.25em;
  display: block;
  color: #666666;
}
/* line 86, ../../../app/stylesheets/application.sass */
#container #facebook {
  width: 175px;
  margin: 5em auto;
  text-align: center;
}
/* line 91, ../../../app/stylesheets/application.sass */
#container #logo {
  width: 200px;
  margin: 0 auto;
  padding-top: 5em;
}

/* line 97, ../../../app/stylesheets/application.sass */
#footer {
  padding-top: 125px;
  width: 100%;
  position: relative;
  background: black;
  min-height: 175px;
  background-image: url(/images/bg_footer.png);
  text-align: center;
  family: "Lucinda Grande";
}
/* line 107, ../../../app/stylesheets/application.sass */
#footer a {
  color: #333333;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* line 112, ../../../app/stylesheets/application.sass */
#footer a:hover {
  color: red;
}
/* line 116, ../../../app/stylesheets/application.sass */
#footer #navs .nav {
  display: inline;
  padding-right: 15px;
}
/* line 120, ../../../app/stylesheets/application.sass */
#footer #copyright {
  clear: both;
  padding-top: 2em;
  color: #333333;
  font-size: 0.8em;
  text-transform: uppercase;
}

/* line 128, ../../../app/stylesheets/application.sass */
#flash_notice {
  color: black;
}

/* line 131, ../../../app/stylesheets/application.sass */
#flash_error,
#flash_alert {
  color: #cc0000;
}

/* line 135, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 138, ../../../app/stylesheets/application.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 147, ../../../app/stylesheets/application.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 156, ../../../app/stylesheets/application.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 158, ../../../app/stylesheets/application.sass */
.error_messages ul {
  margin: 0;
}
