- title "Are Your Friends Altruistic (or Something Else)?", false
#friends
  #index.trans
    %h1 Your Friends - Declassified.

    .row
      - @friends.each_with_index do |a,ndx|
        .friend.fleft.gray_trans
          .fleft= link_to image_tag(a.profile.details.pic_square, :title => "#{a.profile.details.name}"), altruist_path(a.profile.givey_token)
          - if a.profile.scorable?
            .score{:class => get_background_class(a), :title => "#{a.profile.score} Altruism Points" }= a.profile.score
          - else
            .lock{:fb_to => a.uid, :fb_link => current_user.referral_link}= image_tag "icons/lock32.png", :title => "Locked!  Click to Invite!" 
            
            
:javascript
  $(document).ready(function() {
    $('[title]').qtip({ style: { name: 'cream', tip: true } })
    
    $('.lock').click(function() {
      fb_to = $(this).attr('fb_to')
      fb_link = $(this).attr('fb_link')
      FB.ui(
         {
           method: 'feed',
           to: fb_to,
           name: "Do you think I'm Altruistic or, well, something else?",
           link: fb_link,
           caption: 'Givey.org',
           description: "I'd like to know what you think of me so I can give $5,000 to something I care about.",
           message: "Come check out Givey.org.  It's pretty great."
         }
       );

      return false;
    });
  });
  
        
