- title "Admin/Beta Testers"

#beta_testers
  #index
    #copy
      = table_for @beta_testers do |t|
        = t.data :actions => :all, :action_prefix => :admin 
      
      #actions= link_to "New Beta Tester", new_admin_beta_tester_path
