#admin
  #index
    #copy
      %h1
        So what we doing here?
        
      %p
        = link_to "Manage Non Profit Organizations (NPOs)", admin_npos_path

      %p
        = link_to "Manage NPO Categories", admin_categories_path

      %p
        = link_to "Manage Backgrounds", admin_backgrounds_path
        