/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 101, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 105, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 108, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 6, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index #not_time .fleft {
  width: 800px;
}
/* line 9, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .display {
  margin-bottom: 25px;
  font-size: 13px;
}
/* line 13, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist {
  padding-bottom: 40px;
}
/* line 15, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .name {
  padding-left: 20px;
}
/* line 18, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .name a {
  text-decoration: none;
  color: #02517f;
}
/* line 22, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .name a:hover {
  text-decoration: underline;
}
/* line 25, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .rank_score {
  clear: both;
  padding-top: 10px;
  text-align: center;
  width: 260px;
}
/* line 30, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .rank_score .score {
  font-size: 24px;
  text-shadow: #999999 2px 2px 2px;
  display: inline;
}
/* line 34, ../../../../app/stylesheets/public/altruists.sass */
#altruists #index .altruist .rank_score .rank {
  display: inline;
}

/* line 39, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show .details {
  padding-left: 20px;
  text-align: left;
}
/* line 43, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show .details .name {
  font-size: 24px;
  color: #02517f;
  padding: 0px;
  margin: 0px;
}
/* line 48, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show .details .name img {
  width: 24px;
}
/* line 51, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show .details .score {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  text-shadow: #999999 2px 2px 2px;
  font-size: 18px;
}
/* line 60, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table {
  width: 100%;
}
/* line 62, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table tr > td {
  vertical-align: top;
}
/* line 65, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table .npo {
  float: right;
  width: 250px;
  padding-left: 10px;
}
/* line 70, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table .npo .logo {
  text-align: center;
}
/* line 73, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table .npo .summary {
  font-size: 13px;
  margin: 5px 0px;
  line-height: 1.25em;
}
/* line 79, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table .npo .links div {
  display: inline;
}
/* line 81, ../../../../app/stylesheets/public/altruists.sass */
#altruist #show table .npo .links div img {
  width: 32px;
  height: 32px;
}

/* line 86, ../../../../app/stylesheets/public/altruists.sass */
#altruists .candidate, #altruist .candidate {
  color: black;
  text-shadow: none;
}
/* line 89, ../../../../app/stylesheets/public/altruists.sass */
#altruists .candidate .cause, #altruist .candidate .cause {
  font-weight: bold;
  color: #3d024f;
}
