/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 101, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 105, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 108, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 5, ../../../../app/stylesheets/public/donations.sass */
#donation #new #charity_logo {
  background: white;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  border: 1px solid gray;
  margin: 1em auto;
}
/* line 13, ../../../../app/stylesheets/public/donations.sass */
#donation #new #actions {
  margin-top: 3em;
}
/* line 16, ../../../../app/stylesheets/public/donations.sass */
#donation #new #actions a.button {
  margin-bottom: 0.5em;
  clear: both;
  font-size: 18px;
}
/* line 21, ../../../../app/stylesheets/public/donations.sass */
#donation #new #actions a {
  font-size: 14px;
}
/* line 24, ../../../../app/stylesheets/public/donations.sass */
#donation #wall {
  margin-top: 2em;
  width: 900px;
  margin-left: 15px;
}
