/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 101, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 105, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 108, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 5, ../../../../app/stylesheets/public/friends.sass */
#friends #index .public_invite {
  width: 600px;
  padding: 10px;
  margin: 20px auto;
  border: 2px dashed #0e4873;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
/* line 12, ../../../../app/stylesheets/public/friends.sass */
#friends #index .public_invite p {
  font-weight: bold;
  color: #970c0c;
}
/* line 17, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend {
  position: relative;
  margin: 10px;
}
/* line 21, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend .lock {
  position: absolute;
  left: 50px;
  z-index: 4;
}
/* line 25, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend .lock img {
  width: 24px;
}
/* line 28, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend .score {
  position: absolute;
  left: 50px;
  z-index: 4;
  color: white;
  font-weight: bold;
  display: block;
  min-width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  padding: 4px 4px 0px 4px;
}
/* line 42, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend .score.neg {
  background: #970c0c;
}
/* line 45, ../../../../app/stylesheets/public/friends.sass */
#friends #index .friend .score.pos {
  background: #0e4873;
}
