/* incase an inverted custom gradient isn't specified */
/* line 176, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, #game #show #winner #overlay #pitch #actions .button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, #game #show #winner #overlay #pitch #actions .button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, #game #show #winner #overlay #pitch #actions .button:focus {
  outline: none;
}

/* line 4, ../../../../app/stylesheets/public/games.sass */
.ui-effects-transfer {
  border: 2px solid gray;
  background: #d0dcfd;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/* line 15, ../../../../app/stylesheets/public/games.sass */
#game #show {
  position: relative;
}
/* line 18, ../../../../app/stylesheets/public/games.sass */
#game #show #winners {
  text-align: left;
  position: relative;
}
/* line 25, ../../../../app/stylesheets/public/games.sass */
#game #show #winners #winner_list .winner, #game #show #winners #winner_list #winner_last {
  display: inline-block;
}
/* line 28, ../../../../app/stylesheets/public/games.sass */
#game #show #playing_field {
  text-align: center;
  height: 450px;
}
/* line 2, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card, #game #show #playing_field #winner {
  margin: 0 10px;
  display: inline-block;
}
/* line 6, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame, #game #show #playing_field #winner .frame {
  width: 260px;
  height: 350px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
  text-align: left;
  font-family: helvetica, verdana, "arial sans-serif";
  font-size: 13px;
}
/* line 20, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box, #game #show #playing_field #winner .frame .box {
  border: 2px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.85em;
  height: 340px;
}
/* line 28, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .top, #game #show #playing_field #winner .frame .box .top {
  background: url("/images/header_bar.png");
  color: white;
  font-weight: bold;
  padding: 4px;
  min-height: 34px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 250px;
  overflow: hidden;
}
/* line 39, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .top .name, #game #show #playing_field .card .frame .box .top .profile_pic, #game #show #playing_field #winner .frame .box .top .name, #game #show #playing_field #winner .frame .box .top .profile_pic {
  float: left;
}
/* line 42, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .top .name, #game #show #playing_field #winner .frame .box .top .name {
  font-size: 18px;
  line-height: 1em;
  width: 200px;
}
/* line 47, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .top .profile_pic, #game #show #playing_field #winner .frame .box .top .profile_pic {
  width: 40px;
}
/* line 49, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .top .profile_pic img, #game #show #playing_field #winner .frame .box .top .profile_pic img {
  border: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/* line 56, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper, #game #show #playing_field #winner .frame .box .sc_menu_wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
}
/* line 61, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .header, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .header {
  background: #f38630;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 4px 0px;
  font-size: 1.1em;
}
/* line 70, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .stats, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .stats {
  text-align: left;
}
/* line 73, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .stats .even, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .stats .even {
  background: #fcfef5;
}
/* line 76, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .stats .odd, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .stats .odd {
  background: #fafbe3;
}
/* line 80, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .stats .items .item, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .stats .items .item {
  padding: 5px;
  border-bottom: 1px solid #cdcfb7;
  color: black;
}
/* line 85, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .stats .items .item .label, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .stats .items .item .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
/* line 91, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .photos, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .photos {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
}
/* line 95, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .photos img, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .photos img {
  height: 68px;
  max-width: 80px;
}
/* line 99, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .sc_menu_wrapper .status, #game #show #playing_field #winner .frame .box .sc_menu_wrapper .status {
  height: 200px;
  vertical-align: absmiddle;
  text-align: center;
  padding: 10px;
}
/* line 105, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .nothing, #game #show #playing_field #winner .frame .box .nothing {
  text-align: center;
}
/* line 108, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box .nothing img, #game #show #playing_field #winner .frame .box .nothing img {
  border: 2px solid #edf2e6;
  margin: 15px;
  max-height: 275px;
}
/* line 114, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box.highlight, #game #show #playing_field #winner .frame .box.highlight {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 5px blue;
  -moz-box-shadow: 0 0 5px blue;
}
/* line 122, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box.highlight .top, #game #show #playing_field #winner .frame .box.highlight .top {
  background: url("/images/header_bar_on.png");
}
/* line 125, ../../../../app/stylesheets/public/_card.sass */
#game #show #playing_field .card .frame .box.highlight .header, #game #show #playing_field #winner .frame .box.highlight .header {
  background: #ff6600;
}
/* line 34, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay {
  display: none;
  width: 750px;
  border: 10px solid #666666;
  padding: 10px;
  text-align: left;
  position: relative;
  border: 10px solid rgba(82, 82, 82, 0.698);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: white;
}
/* line 48, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #card {
  width: 325px;
}
/* line 2, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card, #game #show #winner #overlay #card #winner {
  margin: 0 10px;
  display: inline-block;
}
/* line 6, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame, #game #show #winner #overlay #card #winner .frame {
  width: 260px;
  height: 350px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
  text-align: left;
  font-family: helvetica, verdana, "arial sans-serif";
  font-size: 13px;
}
/* line 20, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box, #game #show #winner #overlay #card #winner .frame .box {
  border: 2px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.85em;
  height: 340px;
}
/* line 28, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .top, #game #show #winner #overlay #card #winner .frame .box .top {
  background: url("/images/header_bar.png");
  color: white;
  font-weight: bold;
  padding: 4px;
  min-height: 34px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 250px;
  overflow: hidden;
}
/* line 39, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .top .name, #game #show #winner #overlay #card .card .frame .box .top .profile_pic, #game #show #winner #overlay #card #winner .frame .box .top .name, #game #show #winner #overlay #card #winner .frame .box .top .profile_pic {
  float: left;
}
/* line 42, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .top .name, #game #show #winner #overlay #card #winner .frame .box .top .name {
  font-size: 18px;
  line-height: 1em;
  width: 200px;
}
/* line 47, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .top .profile_pic, #game #show #winner #overlay #card #winner .frame .box .top .profile_pic {
  width: 40px;
}
/* line 49, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .top .profile_pic img, #game #show #winner #overlay #card #winner .frame .box .top .profile_pic img {
  border: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/* line 56, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
}
/* line 61, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .header, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .header {
  background: #f38630;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 4px 0px;
  font-size: 1.1em;
}
/* line 70, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .stats, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .stats {
  text-align: left;
}
/* line 73, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .stats .even, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .stats .even {
  background: #fcfef5;
}
/* line 76, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .stats .odd, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .stats .odd {
  background: #fafbe3;
}
/* line 80, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .stats .items .item, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .stats .items .item {
  padding: 5px;
  border-bottom: 1px solid #cdcfb7;
  color: black;
}
/* line 85, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .stats .items .item .label, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .stats .items .item .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
/* line 91, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .photos, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .photos {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
}
/* line 95, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .photos img, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .photos img {
  height: 68px;
  max-width: 80px;
}
/* line 99, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .sc_menu_wrapper .status, #game #show #winner #overlay #card #winner .frame .box .sc_menu_wrapper .status {
  height: 200px;
  vertical-align: absmiddle;
  text-align: center;
  padding: 10px;
}
/* line 105, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .nothing, #game #show #winner #overlay #card #winner .frame .box .nothing {
  text-align: center;
}
/* line 108, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box .nothing img, #game #show #winner #overlay #card #winner .frame .box .nothing img {
  border: 2px solid #edf2e6;
  margin: 15px;
  max-height: 275px;
}
/* line 114, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box.highlight, #game #show #winner #overlay #card #winner .frame .box.highlight {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 5px blue;
  -moz-box-shadow: 0 0 5px blue;
}
/* line 122, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box.highlight .top, #game #show #winner #overlay #card #winner .frame .box.highlight .top {
  background: url("/images/header_bar_on.png");
}
/* line 125, ../../../../app/stylesheets/public/_card.sass */
#game #show #winner #overlay #card .card .frame .box.highlight .header, #game #show #winner #overlay #card #winner .frame .box.highlight .header {
  background: #ff6600;
}
/* line 52, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch {
  width: 425px;
  font-size: 13px;
}
/* line 56, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch h2 {
  padding-bottom: 15px;
  margin-bottom: 0px;
}
/* line 60, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch #checkboxes {
  margin-top: 25px;
}
/* line 62, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch #checkboxes .cb {
  margin: 5px 0px;
  padding-left: 20px;
  text-align: left;
}
/* line 67, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch #actions {
  position: absolute;
  width: 400px;
  bottom: 20px;
  vertical-align: bottom;
}
/* line 73, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch #actions .back {
  padding-top: 20px;
}
/* line 76, ../../../../app/stylesheets/public/games.sass */
#game #show #winner #overlay #pitch #actions .button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#game #show #winner #overlay #pitch #actions .button, #game #show #winner #overlay #pitch #actions .button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#game #show #winner #overlay #pitch #actions .button:hover, #game #show #winner #overlay #pitch #actions .button:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#game #show #winner #overlay #pitch #actions .button:hover, #game #show #winner #overlay #pitch #actions .button:hover:visited, #game #show #winner #overlay #pitch #actions .button:focus, #game #show #winner #overlay #pitch #actions .button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#game #show #winner #overlay #pitch #actions .button:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#game #show #winner #overlay #pitch #actions .button:active, #game #show #winner #overlay #pitch #actions .button:active:visited {
  color: white;
}
