/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 98, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 102, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 105, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 6, ../../../../app/stylesheets/public/home.sass */
#home #index #copy {
  margin-top: 30px;
}
/* line 11, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #heading h1 {
  width: 600px;
  margin: 0em auto;
  margin-bottom: 0.75em;
  color: #cc6600;
}
/* line 17, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row {
  width: 960px;
}
/* line 20, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #facebook {
  width: 250px;
  margin-bottom: 30px;
}
/* line 23, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #facebook .login_button {
  margin-top: 10px;
}
/* line 25, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #facebook b {
  font-size: 13px;
}
/* line 29, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #main_points {
  width: 250px;
}
/* line 31, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #main_points .secure, #home #index #copy .row #main_points .user, #home #index #copy .row #main_points .heart {
  width: 250px;
  text-align: left;
  margin-top: 15px;
}
/* line 36, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #main_points .secure img, #home #index #copy .row #main_points .user img, #home #index #copy .row #main_points .heart img {
  text-align: top;
  width: 30px;
  margin-right: 3px;
}
/* line 40, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #main_points .secure p, #home #index #copy .row #main_points .user p, #home #index #copy .row #main_points .heart p {
  width: 200px;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
}
/* line 46, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #screen_shot {
  position: relative;
  width: 650px;
  height: 300px;
  background: url(/images/ss_sample.png) no-repeat;
}
/* line 52, ../../../../app/stylesheets/public/home.sass */
#home #index #copy .row #screen_shot .question {
  margin-top: 30px;
  font-size: 1.1em;
}
/* line 56, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #npos {
  text-align: center;
}
/* line 58, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #npos .npo {
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  background: white;
  margin-right: 10px;
}
/* line 64, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works {
  text-align: left;
}
/* line 67, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works ol {
  list-style-type: decimal;
  margin-left: 20px;
  width: 100%;
}
/* line 72, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works ol li {
  margin-bottom: 2em;
  font-size: 18px;
  font-weight: bold;
}
/* line 77, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works ol li b, #home #index #copy #how_it_works ol li p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
/* line 82, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works ol li b {
  color: #336600;
}
/* line 85, ../../../../app/stylesheets/public/home.sass */
#home #index #copy #how_it_works ol li p {
  font-weight: normal;
  width: 100%;
}
/* line 2, ../../../../app/stylesheets/public/_card.sass */
#home #show .card {
  margin: 0 10px;
  float: left;
  background: white;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 11, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame {
  width: 260px;
  height: 350px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
  text-align: center;
  font-size: 13px;
}
/* line 23, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box {
  border: 2px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.85em;
  height: 340px;
}
/* line 31, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .spinner {
  width: 30px;
  margin: 100px auto;
}
/* line 35, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top {
  background: url("/images/header_bar.png");
  color: white;
  font-weight: bold;
  padding: 4px;
  min-height: 34px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 245px;
  overflow: hidden;
}
/* line 46, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .name, #home #show .card .frame .box .top .profile_pic {
  float: left;
}
/* line 49, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .name {
  font-size: 18px;
  line-height: 1em;
  width: 180px;
}
/* line 54, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .remove_button {
  display: none;
  float: right;
}
/* line 57, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .remove_button a {
  display: block;
  width: 18px;
  height: 18px;
  background: url(/images/icons/remove_buttons.png) no-repeat 0 0;
}
/* line 63, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .remove_button a:hover {
  background: url(/images/icons/remove_buttons.png) no-repeat 0 -16px;
}
/* line 68, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .profile_pic {
  width: 40px;
}
/* line 70, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .top .profile_pic img {
  border: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/* line 77, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
}
/* line 82, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .header {
  background: #f38630;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 4px 0px;
  font-size: 1.1em;
}
/* line 91, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .stats {
  text-align: left;
}
/* line 94, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .stats .even {
  background: #fcfef5;
}
/* line 97, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .stats .odd {
  background: #fafbe3;
}
/* line 101, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .stats .items .item {
  padding: 5px;
  border-bottom: 1px solid #cdcfb7;
  color: black;
}
/* line 106, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .stats .items .item .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
/* line 112, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .photos {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
}
/* line 116, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .photos img {
  height: 68px;
  max-width: 80px;
}
/* line 120, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .status {
  height: 200px;
  vertical-align: absmiddle;
  text-align: center;
  padding: 10px;
}
/* line 126, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .sc_menu_wrapper .story {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 130, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .nothing {
  text-align: center;
}
/* line 133, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box .nothing img {
  border: 2px solid #edf2e6;
  margin: 15px;
  max-height: 275px;
}
/* line 139, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box.highlight {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 5px blue;
  -moz-box-shadow: 0 0 5px blue;
}
/* line 147, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box.highlight .top {
  background: url("/images/header_bar_on.png");
}
/* line 150, ../../../../app/stylesheets/public/_card.sass */
#home #show .card .frame .box.highlight .header {
  background: #ff6600;
}
/* line 153, ../../../../app/stylesheets/public/_card.sass */
#home #show .card.candidate > .frame > .box > .top {
  background: url("/images/candidate_bar.png");
  color: white;
  width: 242px;
  text-shadow: #666666 2px 2px 2px;
}
/* line 159, ../../../../app/stylesheets/public/_card.sass */
#home #show .card.candidate > .frame > .box > .sc_menu_wrapper > .header {
  background: #2e133f;
}
/* line 93, ../../../../app/stylesheets/public/home.sass */
#home #show h1, #home #show h2, #home #show h3 {
  width: 700px;
  margin: 0.75em auto;
}
/* line 97, ../../../../app/stylesheets/public/home.sass */
#home #show #cards {
  width: 750px;
  margin: 0 auto;
}
/* line 101, ../../../../app/stylesheets/public/home.sass */
#home #show #cards .heart {
  padding: 100px 20px;
}
/* line 103, ../../../../app/stylesheets/public/home.sass */
#home #show #cards .heart img {
  width: 100px;
}
/* line 106, ../../../../app/stylesheets/public/home.sass */
#home #show #cards .card {
  margin-bottom: 40px;
}
/* line 110, ../../../../app/stylesheets/public/home.sass */
#home #index #facebook, #home #show #facebook {
  width: 300px;
  margin: 1em auto;
  text-align: center;
}
/* line 115, ../../../../app/stylesheets/public/home.sass */
#home #index #not_user, #home #show #not_user {
  font-size: 12px;
  margin-top: 5px;
}
/* line 119, ../../../../app/stylesheets/public/home.sass */
#home #index #friends, #home #show #friends {
  width: 500px;
  margin: 20px auto;
}
/* line 123, ../../../../app/stylesheets/public/home.sass */
#home #index #logo, #home #show #logo {
  width: 400px;
  margin: 0 auto;
  padding-top: 5em;
}
/* line 128, ../../../../app/stylesheets/public/home.sass */
#home #index #logo img, #home #show #logo img {
  width: 350px;
}
/* line 133, ../../../../app/stylesheets/public/home.sass */
#home #not_yet #npos .npo {
  margin: 10px;
}
/* line 137, ../../../../app/stylesheets/public/home.sass */
#home #beta_test ul {
  margin: 2em 0em;
  text-align: left;
  margin-left: 200px;
  width: 500px;
}
/* line 143, ../../../../app/stylesheets/public/home.sass */
#home #beta_test ul li {
  list-style: disc;
  text-align: left;
  margin: 1.25em 0em;
  line-height: 1.5em;
}
/* line 149, ../../../../app/stylesheets/public/home.sass */
#home #beta_test #actions {
  margin-top: 2em;
  text-align: center;
}
