/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 101, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 105, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 108, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* incase an inverted custom gradient isn't specified */
/* line 176, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, #overlay a.button, #overlay input.button, #modal a.button, #modal input.button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1298996079') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, #overlay a.button::-moz-focus-inner, #overlay input.button::-moz-focus-inner, #modal a.button::-moz-focus-inner, #modal input.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, #overlay a.button:focus, #overlay input.button:focus, #modal a.button:focus, #modal input.button:focus {
  outline: none;
}

/* line 19, ../../../../app/stylesheets/public/_overlays.sass */
.trigger {
  display: hide;
}

/* line 22, ../../../../app/stylesheets/public/_overlays.sass */
#overlay, #modal {
  display: none;
  width: 750px;
  border: 10px solid #666666;
  padding: 10px;
  text-align: left;
  z-index: 100;
  border: 10px solid rgba(82, 82, 82, 0.698);
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: white;
}
/* line 14, ../../../../app/stylesheets/public/_overlays.sass */
#overlay a.button, #overlay input.button, #modal a.button, #modal input.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.359) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  text-decoration: none;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#overlay a.button, #overlay a.button:visited, #overlay input.button, #overlay input.button:visited, #modal a.button, #modal a.button:visited, #modal input.button, #modal input.button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#overlay a.button:hover, #overlay a.button:focus, #overlay input.button:hover, #overlay input.button:focus, #modal a.button:hover, #modal a.button:focus, #modal input.button:hover, #modal input.button:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234912;
  text-shadow: #0d2800 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#overlay a.button:hover, #overlay a.button:hover:visited, #overlay a.button:focus, #overlay a.button:focus:visited, #overlay input.button:hover, #overlay input.button:hover:visited, #overlay input.button:focus, #overlay input.button:focus:visited, #modal a.button:hover, #modal a.button:hover:visited, #modal a.button:focus, #modal a.button:focus:visited, #modal input.button:hover, #modal input.button:hover:visited, #modal input.button:focus, #modal input.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#overlay a.button:active, #overlay input.button:active, #modal a.button:active, #modal input.button:active {
  background-color: #309900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
  background-image: -moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  background-image: linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
  border-color: #1e3d0f;
  text-shadow: #081900 0px -1px -1px;
  -moz-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #295615 0 0.08em 0.1em 1px inset;
  box-shadow: #295615 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p136@givey/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
#overlay a.button:active, #overlay a.button:active:visited, #overlay input.button:active, #overlay input.button:active:visited, #modal a.button:active, #modal a.button:active:visited, #modal input.button:active, #modal input.button:active:visited {
  color: white;
}
/* line 25, ../../../../app/stylesheets/public/_overlays.sass */
#overlay .sidebar, #modal .sidebar {
  width: 325px;
}
/* line 2, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card, #modal .sidebar .card {
  margin: 0 10px;
  float: left;
  background: white;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 11, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame, #modal .sidebar .card .frame {
  width: 260px;
  height: 350px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
  text-align: center;
  font-size: 13px;
}
/* line 23, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box, #modal .sidebar .card .frame .box {
  border: 2px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.85em;
  height: 340px;
}
/* line 31, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .spinner, #modal .sidebar .card .frame .box .spinner {
  width: 30px;
  margin: 100px auto;
}
/* line 35, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top, #modal .sidebar .card .frame .box .top {
  background: url("/images/header_bar.png");
  color: white;
  font-weight: bold;
  padding: 4px;
  min-height: 34px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 245px;
  overflow: hidden;
}
/* line 46, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .name, #overlay .sidebar .card .frame .box .top .profile_pic, #modal .sidebar .card .frame .box .top .name, #modal .sidebar .card .frame .box .top .profile_pic {
  float: left;
}
/* line 49, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .name, #modal .sidebar .card .frame .box .top .name {
  font-size: 18px;
  line-height: 1em;
  width: 180px;
}
/* line 54, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .remove_button, #modal .sidebar .card .frame .box .top .remove_button {
  display: none;
  float: right;
}
/* line 57, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .remove_button a, #modal .sidebar .card .frame .box .top .remove_button a {
  display: block;
  width: 18px;
  height: 18px;
  background: url(/images/icons/remove_buttons.png) no-repeat 0 0;
}
/* line 63, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .remove_button a:hover, #modal .sidebar .card .frame .box .top .remove_button a:hover {
  background: url(/images/icons/remove_buttons.png) no-repeat 0 -16px;
}
/* line 66, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .profile_pic, #modal .sidebar .card .frame .box .top .profile_pic {
  width: 40px;
}
/* line 68, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .top .profile_pic img, #modal .sidebar .card .frame .box .top .profile_pic img {
  border: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/* line 75, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper, #modal .sidebar .card .frame .box .sc_menu_wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}
/* line 82, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .header, #modal .sidebar .card .frame .box .sc_menu_wrapper .header {
  background: #f38630;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 4px 0px;
  font-size: 1.1em;
}
/* line 91, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .stats, #modal .sidebar .card .frame .box .sc_menu_wrapper .stats {
  text-align: left;
}
/* line 94, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .stats .even, #modal .sidebar .card .frame .box .sc_menu_wrapper .stats .even {
  background: #fcfef5;
}
/* line 97, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .stats .odd, #modal .sidebar .card .frame .box .sc_menu_wrapper .stats .odd {
  background: #fafbe3;
}
/* line 101, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .stats .items .item, #modal .sidebar .card .frame .box .sc_menu_wrapper .stats .items .item {
  padding: 5px;
  border-bottom: 1px solid #cdcfb7;
  color: black;
}
/* line 106, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .stats .items .item .label, #modal .sidebar .card .frame .box .sc_menu_wrapper .stats .items .item .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
/* line 112, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .photos, #modal .sidebar .card .frame .box .sc_menu_wrapper .photos {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
}
/* line 116, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .photos img, #modal .sidebar .card .frame .box .sc_menu_wrapper .photos img {
  height: 68px;
  max-width: 80px;
}
/* line 120, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .status, #modal .sidebar .card .frame .box .sc_menu_wrapper .status {
  height: 200px;
  vertical-align: absmiddle;
  text-align: center;
  padding: 10px;
}
/* line 126, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .sc_menu_wrapper .story, #modal .sidebar .card .frame .box .sc_menu_wrapper .story {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 130, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .nothing, #modal .sidebar .card .frame .box .nothing {
  text-align: center;
}
/* line 133, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box .nothing img, #modal .sidebar .card .frame .box .nothing img {
  border: 2px solid #edf2e6;
  margin: 15px;
  max-height: 275px;
}
/* line 139, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box.highlight, #modal .sidebar .card .frame .box.highlight {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 5px blue;
  -moz-box-shadow: 0 0 5px blue;
}
/* line 147, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box.highlight .top, #modal .sidebar .card .frame .box.highlight .top {
  background: url("/images/header_bar_on.png");
}
/* line 150, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card .frame .box.highlight .header, #modal .sidebar .card .frame .box.highlight .header {
  background: #ff6600;
}
/* line 153, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card.candidate > .frame > .box > .top, #modal .sidebar .card.candidate > .frame > .box > .top {
  background: url("/images/candidate_bar.png");
  color: white;
  width: 242px;
  text-shadow: #666666 2px 2px 2px;
}
/* line 159, ../../../../app/stylesheets/public/_card.sass */
#overlay .sidebar .card.candidate > .frame > .box > .sc_menu_wrapper > .header, #modal .sidebar .card.candidate > .frame > .box > .sc_menu_wrapper > .header {
  background: #2e133f;
}
/* line 29, ../../../../app/stylesheets/public/_overlays.sass */
#overlay .main_panel, #modal .main_panel {
  width: 425px;
  font-size: 13px;
}
/* line 33, ../../../../app/stylesheets/public/_overlays.sass */
#overlay .main_panel #actions, #modal .main_panel #actions {
  position: absolute;
  width: 400px;
  bottom: 20px;
  vertical-align: bottom;
}
/* line 40, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think h2, #overlay #donation_complete h2, #modal #what_do_friends_think h2, #modal #donation_complete h2 {
  margin-bottom: 10px;
}
/* line 43, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .friends, #overlay #donation_complete .friends, #modal #what_do_friends_think .friends, #modal #donation_complete .friends {
  margin-bottom: 0.75em;
  width: 600px;
  margin: 0 auto;
}
/* line 48, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .friends .pic, #overlay #donation_complete .friends .pic, #modal #what_do_friends_think .friends .pic, #modal #donation_complete .friends .pic {
  padding-right: 10px;
}
/* line 51, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .profile_pic, #overlay #donation_complete .profile_pic, #modal #what_do_friends_think .profile_pic, #modal #donation_complete .profile_pic {
  width: 25px;
  margin: 10px auto;
}
/* line 55, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think h1, #overlay #donation_complete h1, #modal #what_do_friends_think h1, #modal #donation_complete h1 {
  text-align: center;
}
/* line 58, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .share_actions, #overlay #donation_complete .share_actions, #modal #what_do_friends_think .share_actions, #modal #donation_complete .share_actions {
  width: 450px;
  margin: 15px auto;
}
/* line 63, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .share_actions .share_facebook a, #overlay #donation_complete .share_actions .share_facebook a, #modal #what_do_friends_think .share_actions .share_facebook a, #modal #donation_complete .share_actions .share_facebook a {
  background: url("/images/buttons/share_facebook.png") no-repeat 0 0;
  width: 224px;
  height: 81px;
  display: block;
}
/* line 69, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .share_actions .share_facebook a:hover, #overlay #donation_complete .share_actions .share_facebook a:hover, #modal #what_do_friends_think .share_actions .share_facebook a:hover, #modal #donation_complete .share_actions .share_facebook a:hover {
  background: url("/images/buttons/share_facebook.png") no-repeat -81 0;
}
/* line 73, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .share_actions .share_twitter a, #overlay #donation_complete .share_actions .share_twitter a, #modal #what_do_friends_think .share_actions .share_twitter a, #modal #donation_complete .share_actions .share_twitter a {
  background: url("/images/buttons/share_twitter.png") no-repeat 0 0;
  width: 224px;
  height: 81px;
  display: block;
}
/* line 79, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think .share_actions .share_twitter a:hover, #overlay #donation_complete .share_actions .share_twitter a:hover, #modal #what_do_friends_think .share_actions .share_twitter a:hover, #modal #donation_complete .share_actions .share_twitter a:hover {
  background: url("/images/buttons/share_twitter.png") no-repeat -81 0;
}
/* line 82, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #what_do_friends_think input, #overlay #donation_complete input, #modal #what_do_friends_think input, #modal #donation_complete input {
  font-size: 18px;
  padding: 5px;
  width: 350px;
}
/* line 88, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story h2, #modal #your_story h2 {
  margin: 1em 0em;
}
/* line 91, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story .row, #modal #your_story .row {
  margin-bottom: 0.75em;
}
/* line 94, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story .label, #modal #your_story .label {
  font-weight: bold;
  padding-right: 10px;
}
/* line 99, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story form textarea, #modal #your_story form textarea {
  width: 400px;
  height: 100px;
}
/* line 103, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story .other, #modal #your_story .other {
  display: none;
  padding: 5px;
  font-size: 16px;
  color: red;
  vertical-align: baseline;
}
/* line 110, ../../../../app/stylesheets/public/_overlays.sass */
#overlay #your_story .other input, #modal #your_story .other input {
  font-size: 16px;
  padding: 3px;
  width: 250px;
}

/* line 115, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  font-size: 12px;
  background: #fcfef5;
  width: 250px;
}
/* line 127, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete #meet_a_candidate .candidate .cause {
  text-align: center;
  margin-top: 1em;
}
/* line 131, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete #meet_a_candidate .candidate .fb_like {
  width: 260px;
  text-align: center;
  padding: 15px;
}
/* line 136, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete #meet_a_candidate h2 {
  margin-bottom: 1.5em;
}
/* line 139, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete #meet_a_candidate .story {
  margin: 1em auto;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #330099;
}
/* line 145, ../../../../app/stylesheets/public/_overlays.sass */
.ui-autocomplete #meet_a_candidate .story .middle {
  padding: 0 5px;
}

/* line 8, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #copy {
  text-align: center;
}
/* line 12, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait #actions {
  margin-top: 2em;
}
/* line 14, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait #actions #wait_btn {
  font-size: 16px;
  padding: 10px;
  width: 150px;
}
/* line 18, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait #actions #next_btn {
  display: none;
}
/* line 21, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait h2 {
  color: #0e4873;
}
/* line 24, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait .msg {
  display: none;
}
/* line 27, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait .num_q {
  font-size: 1.25em;
}
/* line 30, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #please_wait .you {
  color: #336600;
}
/* line 33, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #try_later {
  display: none;
}
/* line 37, ../../../../app/stylesheets/public/sparks.sass */
#spark #new #npos .npo {
  margin-right: 10px;
}

/* line 41, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index {
  position: relative;
}
/* line 43, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #playing_field {
  height: 400px;
  padding-left: 25px;
}
/* line 2, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card {
  margin: 0 10px;
  float: left;
  background: white;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 11, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame {
  width: 260px;
  height: 350px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
  text-align: center;
  font-size: 13px;
}
/* line 23, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box {
  border: 2px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.85em;
  height: 340px;
}
/* line 31, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .spinner {
  width: 30px;
  margin: 100px auto;
}
/* line 35, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top {
  background: url("/images/header_bar.png");
  color: white;
  font-weight: bold;
  padding: 4px;
  min-height: 34px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 245px;
  overflow: hidden;
}
/* line 46, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .name, #sparks #index #playing_field .card .frame .box .top .profile_pic {
  float: left;
}
/* line 49, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .name {
  font-size: 18px;
  line-height: 1em;
  width: 180px;
}
/* line 54, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .remove_button {
  display: none;
  float: right;
}
/* line 57, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .remove_button a {
  display: block;
  width: 18px;
  height: 18px;
  background: url(/images/icons/remove_buttons.png) no-repeat 0 0;
}
/* line 63, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .remove_button a:hover {
  background: url(/images/icons/remove_buttons.png) no-repeat 0 -16px;
}
/* line 66, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .profile_pic {
  width: 40px;
}
/* line 68, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .top .profile_pic img {
  border: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/* line 75, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}
/* line 82, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .header {
  background: #f38630;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 4px 0px;
  font-size: 1.1em;
}
/* line 91, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .stats {
  text-align: left;
}
/* line 94, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .stats .even {
  background: #fcfef5;
}
/* line 97, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .stats .odd {
  background: #fafbe3;
}
/* line 101, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .stats .items .item {
  padding: 5px;
  border-bottom: 1px solid #cdcfb7;
  color: black;
}
/* line 106, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .stats .items .item .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
}
/* line 112, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .photos {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
}
/* line 116, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .photos img {
  height: 68px;
  max-width: 80px;
}
/* line 120, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .status {
  height: 200px;
  vertical-align: absmiddle;
  text-align: center;
  padding: 10px;
}
/* line 126, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .sc_menu_wrapper .story {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 130, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .nothing {
  text-align: center;
}
/* line 133, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box .nothing img {
  border: 2px solid #edf2e6;
  margin: 15px;
  max-height: 275px;
}
/* line 139, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box.highlight {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 5px blue;
  -moz-box-shadow: 0 0 5px blue;
}
/* line 147, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box.highlight .top {
  background: url("/images/header_bar_on.png");
}
/* line 150, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card .frame .box.highlight .header {
  background: #ff6600;
}
/* line 153, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card.candidate > .frame > .box > .top {
  background: url("/images/candidate_bar.png");
  color: white;
  width: 242px;
  text-shadow: #666666 2px 2px 2px;
}
/* line 159, ../../../../app/stylesheets/public/_card.sass */
#sparks #index #playing_field .card.candidate > .frame > .box > .sc_menu_wrapper > .header {
  background: #2e133f;
}
/* line 48, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board {
  clear: both;
  margin-bottom: 2em;
  text-align: left;
}
/* line 54, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts a {
  color: white;
}
/* line 57, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts a:hover {
  color: yellow;
}
/* line 60, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts .count {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
/* line 66, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts .answer_num {
  font-style: italic;
  font-size: 12px;
  padding-left: 40px;
  margin-bottom: 10px;
}
/* line 72, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board .spark_history {
  width: 600px;
}
/* line 75, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background: black;
  color: white;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}
/* line 80, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #score_board #counts h1 {
  color: white;
  text-shadow: #333333 2px 2px 2px;
}
/* line 84, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #question {
  position: relative;
  top: 10px;
  margin-bottom: 40px;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  border: 2px solid #666666;
}
/* line 93, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #question h1 {
  margin: 0 0 10px 0;
  padding: 0;
}
/* line 96, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #question h1 .q_num {
  margin-right: 5px;
  color: #0e4873;
  font-size: 15px;
  vertical-align: baseline;
}
/* line 102, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #question h1 .question, #sparks #index #question h1 .q_num {
  display: inline;
}
/* line 106, ../../../../app/stylesheets/public/sparks.sass */
#sparks #index #question.recording {
  float: right;
}
/* line 110, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round p {
  text-align: left;
}
/* line 113, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round h2 {
  width: 600px;
  margin: 0 auto;
}
/* line 117, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_actions {
  width: 450px;
  margin: 15px auto;
}
/* line 122, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_actions .share_facebook a {
  background: url("/images/buttons/share_facebook.png") no-repeat 0 0;
  width: 224px;
  height: 81px;
  display: block;
}
/* line 128, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_actions .share_facebook a:hover {
  background: url("/images/buttons/share_facebook.png") no-repeat -81 0;
}
/* line 132, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_actions .share_twitter a {
  background: url("/images/buttons/share_twitter.png") no-repeat 0 0;
  width: 224px;
  height: 81px;
  display: block;
}
/* line 138, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_actions .share_twitter a:hover {
  background: url("/images/buttons/share_twitter.png") no-repeat -81 0;
}
/* line 141, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_email {
  margin-top: 25px;
}
/* line 143, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round .share_email h4 {
  width: 650px;
  margin: 0 auto;
  text-align: left;
  font-size: 24px;
}
/* line 149, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round input {
  font-size: 18px;
  padding: 5px;
  width: 350px;
}
/* line 154, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round #mturks {
  border: 3px solid red;
}
/* line 156, ../../../../app/stylesheets/public/sparks.sass */
#sparks #end_round #mturks h1, #sparks #end_round #mturks p {
  text-align: center;
}
