- unless candidate.nil? || candidate.profile.nil?
  %table{:align => "center"}
    %tr
      %td= image_tag candidate.profile.details.pic_square
      %td
        %em random givey.org altruist...
        %br
        .statement
          = "#{candidate.public_display_name} joined Givey to support"
          .candidates_cause= candidate.npo.name
