@import "compass/reset"
@import 'base'
@import 'fonts'
@import 'fancy-buttons'
@import 'partials/formtastic_changes'
@import 'partials/jquery.scroll'
@import 'partials/facebook_styles'
@import 'partials/flash'
@import 'partials/header'
@import 'partials/wrapper'
@import 'partials/container'
@import 'partials/footer'

*
  margin: 0

html, body
  padding: 0px
  margin: 0px  
  height: 100%

body
  background-color: $primary_color
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif

  .wrapper
    +wrapper
    
  #main
    z-index: 50
    
    a
      color: blue
  
      img
        border: none

    .clear
      clear: both
      height: 0
      overflow: hidden
      
    .qtip
      cursor: pointer
  
    #header
      +header

    #container
      +container

  #footer
    +footer
    
.trigger
  display: none
  
a.button
  +fancy-button(darken(#57b42c, 8))      
  color: #fff
  text-decoration: none

.gray-button
  +fancy-button(lighten(#CCC, 8))      
