- title "What is Givey.org about?"
#home
  #about
    #copy.trans
      %h1 What is Givey.org about?

      %p  
        Givey is about finding the most philanthropic people on Facebook based on your answers to interesting social questions about your friends 
        and their answers to those questions about you.
        
      %h2
        We have a simple goal
        
      %p Let's raise $5,000, give it to the most altruistic people on the web and see how they would change the world. 
    
      %h2
        How does it work?

      %p
        Login through Facebook. We’ll show you three Facebook “friends” profile cards at a time and we’ll ask you a series of altruistic-centric 
        questions about each trio. You pick the most appropriate friend for each question. Every question has an altruism score attached to it 
        and will help us determine how your friends stack up compared to others in the world. 
        
      %p
        You play. Your friends play. Your friends of friends play. Complete strangers play. 
        We combine all of the scores across the Facebook globe until you or your friends have been “scored” 
        enough for you and your friends to see what others (anonymously) think of them. 
        
      %p
        All players will be asked about their favorite cause. You can then help turn $5 into $5,000 for this cause by contributing just $5 (100% going to a non-profit, we take nothing) 
        as part of the "Givey Movement."  Once the pot hits five-thousand-dollars we’ll stop the game and let the top 
        10 most altruistic people on Facebook decide where the Givey pot is donated based on their selected charity. 
        
      %p
        Then we’ll reset the game and start the fun all over again.

      %p
        It’s simple. It’s private. It’s anonymous. It’s a ton of fun. And it’s doing good in the world.

      %h2
        How did it happen?

      %p
        = link_to "Joshua Lippiner", 'http://About.me/joshl'
        and 
        = link_to "Bill Strong", "http://About.me/billstrong"
        started Givey.org in January 2011. Josh came up with an interesting question – “If I gave 10 of my friends $10 each and told them they could keep the $10 for themselves or donate it to charity, what do you think they would they do?” Countless hours on Skype, a “working” trip to Snowbird Utah, and tons of back and forth later and Josh’s original idea morphed into a social experiment with a simple mission: to find the most altruistic people on Facebook, as voted by their peers, and give them a voice in deciding which charities benefit from Givey. And so, Givey.org is born. We’re extremely proud of Givey.org and we hope you enjoy the experiment.

      %p
        For the past several years, Josh and Bill have worked together on several unique social media campaigns benefiting the Gwendolyn Strong Foundation (http://EndSMA.org) and a terminal inherited disease called spinal muscular atrophy or SMA that typically impacts babies and young children. Both Josh and Bill have spent their careers in and around technology startup companies and they have become passionate about harnessing the power of technology, and specifically the social graph, to help nonprofits raise awareness and funding for their cause.

