%h3 So What's This All About?

%p
  Years ago a group of smart science people created something called the 
  = link_to "Five Factors Model", '#'
  of personality.  It's designed to help them, well, classify people by asking 
  crazy questions like "Are you bashful" and "Would you help an old woman cross the street."  
  
%p
  A few years ago one of our founders started a non-profit for his daughter, who is 
  battling SMA, a terrible disease.  Since then he's met some incredible people and an 
  even more incredible number of other amazing non-profits
  
%p
  A few months ago a site called CubeDuel launched to rate your co-workers.  It inspired us.
  We thought - "what if we could use Five Factors to figure out who our most altruistic friend is
  and give them some money to donate to a non-profit?"  Strange idea but here we are.
  
%p
  So that's 
  %b the Givey.org movement.
  We're trying to band together and find the most altruistic people on the web.  We're also 
  asking for everyone to contribute (optionally) just $5 and everytime we hit $5,000 the 
  person with the highest "altruism score" will determine where the money gets donated.
