- title "A Note About The Beta Test"
- show_top_nav false

#home
  #beta_test
    #copy.trans.justify
      %h1 A note for our beta testers (that's you)
      
      %ul
        %li Thank you.  Seriously.  We know you have better things to do :)
        %li All "share" or "post" to Facebook are inactive so you don't need to worry about us posting anything to your wall
        
      %h2 Your only responsibility... FEEDBACK
      
      %p
        You'll notice a little FEEDBACK tab on the right of the screen.  At any time, for any reason (be it an idea, question, bug, etc) 
        you can click that tab to leave us feedback.  
        
      %p
        When you are done playing, PLEASE click that tab and share your thoughts.
        
      #actions
        = link_to "Ready?  Let's Play!", new_spark_path, :class => "button"
      