#home
  #faq
    #copy.trans
      %h1 FAQ
      .question What is Givey.org all about?
      .answer Givey is about finding the most philanthropic people on Facebook based on your answers to interesting social questions about your friends and their answers to those questions about you. Givey has a simple goal of giving the most altruistic folks a say in deciding which charities benefit from the Givey experiment.

      .question How does it work?
      .answer 
        %p
          Login through Facebook. We’ll show you three Facebook “friends” profile cards at a time and we’ll ask you a series of altruistic-centric questions about each trio. You pick the most appropriate friend for each question. Every question has an altruism score attached to it and will help us determine how your friends stack up compared to others in the world.
        %p
          You play. Your friends play. Your friends of friends play. Complete strangers play. We combine all of the scores across the Facebook globe until you or your friends have been “scored” enough for you and your friends to see what others (anonymously) think of them.
        %p
          All players will be asked about their favorite cause. You can then help turn $5 into $5,000 for this cause by contributing just $5 (100% going to a non-profit, we take nothing) as part of the "Givey Movement." Once the pot hits five-thousand-dollars we’ll stop the game and let the top 10 most altruistic people on Facebook decide where the Givey pot is donated based on their selected charity.

          Then we’ll reset the game and start the fun all over again.

      .question What’s this about connecting to my Facebook account?
      .answer Givey needs to connect to your Facebook account to determine who your friends are for the game. We have a no posting policy and will never post or push anything to your Facebook account or your friends Facebook accounts without your permission.

      .question Are my answers to the Givey questions about my friends private?
      .answer Your answers about your friends are completely anonymous and private and your friends will never know who answered what for any specific question.

      .question Can I see my friends answers?
      .answer You cannot see which friend answered which Givey question but you can see how your friends fared against others in specific Givey questions.

      .question What is an altruism score?
      .answer Each Givey question has an altruism score attached to it. Some have positive values and some have negative values. Your overall altruism score is based on a sum of your friends answers to Givey questions about you.

      .question Who can see my altruism score?
      .answer Your overall altruism score is public once enough of your friends have scored you. But the answers to specific questions about you are not public.

      .question Why is my altruism score locked and how can I unlock it?
      .answer Givey does not show your altruism score until a certain number of your friends have answered questions about you. To unlock your altruism score, we recommend sharing Givey with  your friends on Facebook, Twitter, and email to encourage more of your friends to get involved.

      .question How can I improve my altruism score?
      .answer The easiest way to improve your altruism score is to share Givey with your friends through Facebook, Twitter, and email and encourage them to get involved.

      .question What are the highest rated altruists?
      .answer The highest rated altruists are the people on Facebook that have received the highest overall altruism scores based on their friends answers to Givey questions about them.

      .question Why are you asking me to select a cause?
      .answer Selecting a cause is a requirement to being part of the Givey experiment. If you are scored by your friends as one of the most altruistic on Facebook at the end of a Givey game, your cause may receive the Givey funds as a result.

      .question Which causes can I select from?
      .answer You can select from one of the Givey featured causes or any nonprofit organization.

      .question How long is a Givey game?
      .answer A Givey game is not driven by time. Rather, once the “Givey pot” reaches $5,000 the Givey game will end and the funds will be distributed to the highest rated cause.

      .question What are the top causes?
      .answer The top causes are the nonprofit organizations that have been selected by the highest rated altruists.

      .question Where does the money for the “Givey pot” come from?
      .answer You. Your friends. Your friends friends. Complete strangers. Anyone who plays Givey and wants to join the movement to possibly be part of having a say in where the Givey funds are donated.

      .question Who decides where the “Givey pot” is donated?
      .answer At the end of each Givey game, the top 10 most altruistic people on Facebook will decide where the Givey funds are donated. Each person will have an altruism score and that score will correspond to the number of votes their selected cause will receive. The cause with the highest number of cumulative votes amongst the top 10 most altruistic people on Facebook will win the Givey funds. If there is a tie, the funds will be split evenly between the causes.

      .question Does Givey take anything from the pot?
      .answer No. 100% of the funds received by Givey is passed along to the winning cause at the end of each Givey game.

      .question Who is behind Givey?
      .answer You can read more about the Givey story and who is behind Givey at our About page.

      .question How can I contact you?
      .answer 
        You can contact Givey at 
        = mail_to "give@givey.org"
    
    