- title "Givey.org - Can you change the world?  Let's play."

- content_for :head do
  %meta{:content => "Givey.org", :property => "og:title"}/
  %meta{:content => request.url, :property => "og:url"}/
  %meta{:content => "http://#{APP_CONFIG[:domain]}/#{image_path('givey_logo_black.png')}", :property => "og:image"}/
  %meta{:content => "Who on Facebook is most likely to change the world?  Do you know which of your friends it might be?", :property => "og:description"}/
  %meta{:content => "Givey.org", :property => "og:site_name"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => APP_CONFIG[:facebook]['api_id'], :property => "fb:app_id"}/


#home
  #index
    #copy
      .trans
        - unless production?
          #facebook
            = link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
            #not_user
                
      
      #logo
        = image_tag "givey_logo_large.png", :title => "Givey.org"
