%h1 Sorry, Givey.org doesn't support Internet Explore 6.

%p
  Honestly, we can't even begin to express how old your browser is.  It's not even worth viewing web pages with that browser.
  
%p
  Upgrading browsers is free and super easy.  We strongly recommend Google Chrome, but you can do the latest Internet Explorer if you like.
  
%p 
  Here are some links.  Come back to Givey when you upgrade (and you'll thank us:)
  
%ul
  %li= link_to "Google Chrome (FREE, EASY, FAST)", 'http://www.google.com/chrome'
  %li= link_to "Safari (FREE & FOXY)", 'http://www.apple.com/safari'
  %li= link_to "Firefox (FREE, OK)", 'http://www.getfirefox.com'
  %li= link_to "Internet Explorer (FREE but WORST)", 'http://www.microsoft.com/ie'