#home
  #terms
    #copy.trans.left
      %h1 Terms of Service
      %p
        Thank you for visiting Givey.org ("we" or "us").The terms and conditions listed
        below (the "Agreement") are intended to make you aware of your
        legal rights and responsibilities with respect to your use of
        our websites or applications (collectively, "Properties").
      %p
        We want to ensure that your experience using the Properties is
        enjoyable; that your legal rights are respected by other users
        of the Properties; and that in turn you respect our legal rights
        and those of other users.
      %p
        These provisions affect your legal rights and remedies, so
        please read them carefully.
      %p
        Your use of the Properties shall indicate your consent to be
        legally bound by, and comply with, all of the following terms
        and conditions. By using the Properties, you represent and
        warrant that you have full right, power, and authority to
        execute, deliver, and fully perform your duties under this
        Agreement.
      %p
        The headings used throughout this Agreement are meant to be
        illustrative of the subjects discussed under each heading and
        may not cover every topic identified in the heading. As a
        result, please read the Agreement in its entirety.
      %h4 I. Use Of Properties
      %p
        You agree to use the Properties only in compliance with this
        Agreement and applicable law, and in a manner that does not
        violate our legal rights or those of any third party. Please
        report any legal violations via the mailing address below.
      %p
        Without limiting the generality of the foregoing, you
        specifically agree not to do the following in connection with
        the Properties:
      %p
        \- impersonate any person or entity, including without
        limitation a message board monitor, chat room host, or another
        user;
      %p
        \- falsely state or misrepresent your affiliation with another
        person or entity;
      %p
        \- engage in any form of ratings fraud, including but not
        limited to the creation of multiple accounts in order to place
        multiple votes for a user by posing as a different user;
      %p
        \- forge email addresses or otherwise manipulate identifiers in
        order to disguise the origin of any Properties' content;
      %p
        \- access or use the account of another user without permission;
      %p
        \- distribute unsolicited or unauthorized advertising, surveys,
        contests, promotional materials, "junk mail," "spam," "chain
        letters," "pyramid schemes," or other messages for any purpose;
      %p
        \- distribute computer viruses or other code, files, or programs
        that interrupt, destroy, or limit the functionality of any
        computer software or hardware or telecommunications equipment;
      %p
        \- interfere with, disrupt, or destroy the functionality or use
        of any features of the Properties by another user;
      %p
        \- interfere with, disrupt, or destroy the servers or networks
        connected to the Properties, or disobey any rules or regulations
        applicable to such servers or networks;
      %p
        \- "hack" or access without permission our proprietary or
        confidential records, those of another user, or those of anyone
        else;
      %p
        \- receive, collect, or store personal information of or
        concerning other users, such as names, birthdates, or email
        addresses;
      %p
        \- violate any contract or fiduciary relationship (for example,
        by disclosing proprietary or confidential information of your
        employer or client in breach of an employment, consulting, or
        nondisclosure agreement);
      %p
        \- violate any applicable law, rule, or regulation (for example,
        by disclosing or trading on inside information in violation of
        securities laws);
      %p
        \- infringe any patent, trademark, trade secret, service mark,
        copyright, or other intellectual property right of another
        person;
      %p
        \- provide or deliver any messages that are unlawful, harmful,
        threatening, abusive, harassing, tortious, indecent, defamatory,
        vulgar, profane, obscene, libelous, invasive of privacy,
        infringing on the rights of others, hateful, or otherwise
        objectionable;
      %p
        \- "stalk" or harass other users or persons; and/or
      %p
        \- harm minors in any way.
      %p
        We may, at any time in our sole discretion, (i) suspend or
        terminate your access to and use of the Properties or any of
        their features in response to a breach of this Agreement, or for
        any other reason; (ii) move, edit, delete, or destroy any
        materials that you provide or deliver to the Properties; (iii)
        access, preserve, or disclose any materials that you provide or
        deliver to the Properties; or (iv) take any other remedial
        action available at law in response to a breach of this
        Agreement.
      %h4 II. Copyrights
      %p
        We and other parties are the exclusive copyright owners of the
        Properties and all works of authorship contained in the
        Properties, including without limitation source code and
        content. You may not reproduce, distribute, publish, transmit,
        modify, adapt, translate, display, sell, license, publicly
        perform, prepare derivative works based upon, or otherwise use
        or exploit such materials without the prior written permission
        of authorized representatives of their copyright owners, unless
        allowed by applicable law. To request such permission, please
        contact us via the mailing address below.
      %p
        Any authorized use or exploitation of the Properties' materials
        must prominently display the proper copyright notice in the
        following format: "Copyright © 2010 Givey.org. All rights reserved."
      %h4 III. Trademarks
      %p
        We and other parties are the exclusive owners of the names,
        logos, trademarks, service marks, and trade dress displayed in
        these Properties (collectively, "Trademarks"). Nothing in this
        Agreement grants you any rights or license to the
        Trademarks. Unauthorized use is prohibited.
      %h4 IV. Infringement
      %p
        You may report a possible infringement of copyrights,
        trademarks, or other intellectual property by sending a letter
        to the mailing address referred to below.
      %p
        In compliance with the federal law of the United States, please
        include the following in your letter or email: (i)
        identification of infringing and infringed materials; (ii)
        contact information of infringing person; (iii) statement of
        your good faith belief in the existence of the infringement;
        (iv) statement indicating the accuracy of the complaint and your
        authority to submit it; and (v) your physical or electronic
        signature.
      %p
        For additional information regarding the enforcement of
        copyrights, you may review the U.S. Digital Millennium Copyright
        Act codified at 17 U.S.C. § 512.
      %h4 V. Submissions
      %p
        This section applies to the submission of messages, emails,
        photos, ideas, suggestions, creative material, and information
        other than personally identifiable information such as names,
        birthdates, and email addresses (collectively, "Content"). See
        our
        = succeed "for" do
          %a{:href => "/privacy"} Privacy Policy
        provisions
        applicable to personally identifiable information. The Privacy
        Policy is hereby incorporated into this Agreement.
      %p
        If you submit any Content, we will immediately assume exclusive
        ownership of the Content and not treat it as your confidential
        or proprietary property.
      %p
        Further, any Content that you submit shall be deemed a "work
        made for hire" under the copyright law of the United States and
        other countries. If such provision is not sufficient to vest
        exclusive ownership with us, then you hereby agree to transfer
        all of your ownership rights in the Content to us immediately
        upon submission.  Such transfer shall be irrevocable, without
        compensation, and applicable throughout the universe and for
        perpetuity.
      %p
        We may, in our sole discretion, elect to use or not use the
        Content in any product, manner, or medium (whether existing now
        or in the future), without attribution or payment to you. We are
        not obligated to return any Content to you under any
        circumstances.
      %p
        After submitting the Content to us, you may not reproduce,
        distribute, publish, transmit, modify, adapt, translate,
        display, sell, license, publicly perform, prepare derivative
        works based upon, or otherwise use or exploit the Content
        without the prior written permission of our authorized
        representative. For permission, please contact us via the
        mailing address below.
      %p
        If you submit any Content to us, you represent and warrant that
        (i) you are the sole author of the Content, and the Content is
        not copied from or based on, in whole or in part, any other
        work, except for work in the "public domain" or which we
        provide; (ii) our use of the Content will not violate or
        infringe any right of you or any third party; and (iii) no
        pending or threatened claim or legal proceeding exists with
        respect to the Content.
      %p
        You hereby authorize us to publish, or authorize others to
        publish, your name, likeness, voice, and biographical material
        to the extent that you provide them to us. This authorization is
        unrestricted, royalty-free, irrevocable, perpetual, universal,
        and transferable, and applies to any product, manner, or medium
        (whether existing now or in the future).
      %h4 VI. Privacy And Security
      %p
        Please click here to review our
        = succeed "." do
          %a{:href => "/privacy"}
            Privacy
            Policy
      %p
        We make efforts to maintain the security of user
        submissions. For example, we arrange for encryption, firewall,
        antivirus, and spyware protection to the extent that we deem
        advisable to protect your personal information and conduct our
        business.
      %p
        However, we do not guarantee the security of the Properties, our
        records, your submissions, or anything else. We disclaim all
        liability for any computer virus or technological problems that
        we do not intentionally cause . You are encouraged to install
        and maintain up-to-date security software on your computer.
      %h4 VII. Disclaimer Of Warranties
      %p
        YOU BEAR THE ENTIRE RISK OF USING THE PROPERTIES AND ANY
        PRODUCTS OR SERVICES INCLUDED OR ADVERTISED ON THE
        PROPERTIES. THE PROPERTIES AND THE ENTIRE CONTENTS THEREOF ARE
        PROVIDED TO YOU "AS IS" AND "AS AVAILABLE", WITHOUT WARRANTY OF
        ANY KIND, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR
        NON-INFRINGEMENT.
      %p
        WE MAKE NO WARRANTIES, GUARANTEES, REPRESENTATIONS, OR PROMISES
        REGARDING THE ACCURACY, COMPLETENESS, RELIABILITY, OR
        SUITABILITY OF THE INFORMATION CONTAINED, OR PRODUCTS OR
        SERVICES OFFERED IN THE PROPERTIES. THE INFORMATION MAY CONTAIN
        ERRORS OR OMISSIONS, FOR WHICH WE EXPRESSLY DISCLAIM ANY
        LIABILITY.
      %h4 VIII. No Professional Advice
      %p
        The information in the Properties is provided for general
        informational purposes only and should not be considered as
        professional advice or opinions of any kind. Any information
        regarding economic, business, or financial matters is not
        intended to, and shall not, constitute investment
        recommendations or advice. We do not provide investment advisory
        services to the general public and the Properties are not
        intended to solicit investment advisory clients. The Properties'
        content is not intended for trading or investing purposes. We
        are not responsible or liable for any trading or investment
        decisions made based on any information contained in the
        Properties.
      %p
        For professional advice or opinions regarding legal, financial,
        investment, lifestyle, or other matters, you should contact a
        professional firm or advisor that specializes in the applicable
        area.
      %h4 IX. Limitation Of Liability
      %p
        UNDER NO CIRCUMSTANCES WILL WE BE LIABLE FOR ANY SPECIAL,
        INDIRECT, CONSEQUENTIAL, INCIDENTAL, OR PUNITIVE DAMAGES ARISING
        OUT OF YOUR USE OF THE PROPERTIES OR ANY PRODUCTS OR SERVICES
        INCLUDED OR ADVERTISED IN THE PROPERTIES, WHETHER THE CLAIM FOR
        DAMAGES IS BASED ON CONTRACT, TORT, OR OTHERWISE. IN NO EVENT
        SHALL OUR TOTAL LIABILITY TO YOU EXCEED THE AMOUNT YOU PAID TO
        US, IF ANY, FOR THE USE OF THE PROPERTIES.
      %p
        If you are a resident of California, you agree to waive
        California Civil Code Sec. 1542, which states: "A general
        release does not extend to claims which the creditor does not
        know or suspect to exist in his or her favor at the time of
        executing the release, which if known by him or her must have
        materially affected his or her settlement with the debtor."
      %p
        In the event of a dispute with us, you may contact the State of
        California as follows:
      %p
        Complaint Assistance Unit
        %br
          Department of Consumer Affairs
          %br
            400 R St., Suite 1080
            Sacramento, California 95814
            %br
              (916) 445-1254
      %p
        You may also contact the
        = succeed "." do
          %a{:href => "http://www.ftc.gov/"}
            U.S. Federal
            Trade Commission
      %h4 X. No Liability For Third Parties
      %p
        We may arrange for unaffiliated third parties to provide
        services such as programming computer code, writing online
        content, managing and hosting the Properties, preparing and
        providing advertisements, processing purchase orders, and
        assisting Properties users. In addition, users other than you
        may submit emails or messages to the Properties.
      %p
        We do not control any such third parties and disclaim any
        obligation, risk, or liability with regard to their products,
        services, advertisements, and content appearing in the
        Properties. Without limiting the generality of the foregoing, we
        expressly disclaim any liability for any offensive, defamatory,
        illegal, invasive, unfair, or infringing content provided by
        third parties. Unless expressly indicated otherwise in the
        Properties, we do not endorse, approve, or sponsor any products,
        services, advertisements, or content of third parties.
      %p
        The Properties may contain links to websites or other properties
        of unaffiliated third parties (each a "Third Party
        Property".). We have no control over the content of such Third
        Party Properties and disclaim any obligation, risk, or liability
        with regard to such Third Party Properties. We do not endorse,
        approve, or sponsor such Third Party Properties or their
        sponsors.
      %h4 XI. Miscellaneous
      %h4 A. Indemnity
      %p
        You agree to indemnify, defend, and hold harmless us and our
        affiliates, subsidiaries, successors, assignees, licensees,
        directors, officers, employees, agents, contractors, vendors,
        business partners, owners, and professional advisors from any
        claims, damages, liabilities, costs, or expenses (including
        without limitation court costs, collection costs, and reasonable
        attorney fees) related to (i) your use of this the Properties,
        or products or services included or advertised in the
        Properties; or (ii) your breach of this Agreement.
      %h4 B. Interpretation
      %p
        The section and subject headings in this Agreement are included
        for reference only and shall not be used to interpret any
        provisions of this Agreement. This Agreement shall not be
        construed against us on the grounds that we conducted or
        arranged for the drafting of the Agreement.
      %h4 C. Dispute Resolution
      %p
        Any controversy or claim relating to this Agreement or the
        Properties shall be (i) submitted to the judicial courts located
        in Mecklenberg County in the state of North Carolina; and (ii) governed
        exclusively by the laws of the state of  Carolina and the
        United States. You consent to the exclusive jurisdiction of
        those courts. You must commence any legal action against us
        within one (1) year after the alleged harm initially
        occurs. Failure to commence the action within that period shall
        forever bar any claims or causes of action regarding the same
        facts or occurrence. YOU HEREBY WAIVE YOUR RIGHTS TO A JURY
        TRIAL AND PARTICIPATION IN ANY CLASS ACTION AGAINST US.
      %h4 D. Severability
      %p
        If any provision of this Agreement is deemed unlawful, invalid,
        or unenforceable by a judicial court for any reason, then that
        provision shall be deemed severed from this Agreement, and the
        remainder of the Agreement shall continue in full force and
        effect.
      %h4 E. Complete Agreement
      %p
        This Agreement constitutes the complete agreement between us and
        you regarding the Properties. We may, from time to time in our
        sole discretion, modify, amend, suspend, or terminate the
        Properties or this Agreement. Any modifications, amendments to,
        or waivers of the Agreement shall be valid only if made in
        writing. Your use of the Properties following the effective date
        of any changes to the Properties or Agreement shall constitute
        your acceptance of the changes. We may, at any time in our sole
        discretion assign this Agreement to another person, and any such
        assignment shall release us from any further liability under the
        Agreement.
      %h4 XII. Contact Us
      %p
        Attn: Legal
        %br
          Givey.org
          %br
            19825 North Cove Rd, Ste 173
            %br
              Cornelius, NC 28031