@import 'base'

#donation
  #new
    #charity_logo
      background: white
      +rounded-borders()
      padding: 5px
      width: 200px
      border: 1px solid gray
      margin: 1em auto
    
    #actions
      margin-top: 3em
      
      a.button
        margin-bottom: .5em
        clear: both
        font-size: 18px
        
      a
        font-size: 14px
      
  #wall
    margin-top: 2em
    width: 900px
    margin-left: 15px
