@import 'base'

#friends
  #index
    .display
      margin-bottom: 25px
      font-size: 13px
  
    .friend
      position: relative
      margin: 10px
      
      .lock
        position: absolute
        left: 50px
        z-index: 4
        img
          width: 24px
          
      .score
        position: absolute
        left: 50px
        z-index: 4
        color: white
        font-weight: bold
        display: block
        min-width: 20px
        height: 20px
        -moz-border-radius: 10px
        -webkit-border-radius: 10px        
        text-align: center
        padding: 4px 4px 0px 4px
        
        &.neg
          background: #970C0C
          
        &.pos
          background: #0E4873
        
      
