@import 'base'

#friends
  #index
    .public_invite
      width: 600px
      padding: 10px
      margin: 20px auto
      border: 2px dashed #0E4873
      +rounded_borders
      text-align: center
      p
        font-weight: bold
        color: #970C0C
      
  
    .friend
      position: relative
      margin: 10px
      
      .lock
        position: absolute
        left: 50px
        z-index: 4
        img
          width: 24px
          
      .score
        position: absolute
        left: 50px
        z-index: 4
        color: white
        font-weight: bold
        display: block
        min-width: 20px
        height: 20px
        -moz-border-radius: 10px
        -webkit-border-radius: 10px        
        text-align: center
        padding: 4px 4px 0px 4px
        
        &.neg
          background: #970C0C
          
        &.pos
          background: #0E4873
        
