@import 'card'
@import 'base'


.ui-effects-transfer
  border: 2px solid gray
  background: #D0DCFD
  filter: alpha(opacity=50)
  -moz-opacity: 0.5
  -khtml-opacity: 0.5
  opacity: 0.5

#game
  #new
    #actions
      margin-top: 2em
      #wait_btn
        font-size: 16px
        padding: 10px
        width: 150px
      #next_btn
        display: none
 
  #show
    position: relative

    #winners
      text-align: left
      position: relative
      margin-top: 2em

      #winner_list
        .round
      
        .winner, #winner_last
          display: inline-block

    #playing_field
      text-align: center
      height: 400px
      +card
  
    #skip
      display: none
      background: white
      padding: 5px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      border: 1px solid gray
      width: 150px
      margin: 0 auto
      a
        text-decoration: none
        color: gray
  
    #winner
      #overlay
        z-index: 200
        display: none
        width: 750px
        border: 10px solid #666
        padding: 10px
        text-align: left
        position: relative

        border: 10px solid rgba(82, 82, 82, 0.698)
        -moz-border-radius: 8px
        -webkit-border-radius: 8px

        background: #fff
      
        #card
          +card
          width: 325px
          
        #pitch
          width: 425px
          font-size: 13px
          
          h2
            padding-bottom: 15px
            margin-bottom: 0px
            
          #checkboxes
            margin-top: 25px
            .cb
              margin: 5px 0px
              padding-left: 20px
              text-align: left
            
          #actions
            position: absolute
            width: 400px
            bottom: 20px
            vertical-align: bottom
            
            .back
              padding-top: 20px

              
#exposeMask 
  background: #000000 !important
  z-index: 100