#home
  #index
    #copy
      margin-top: 30px
        
      h1
        width: 600px
        margin: 0em auto
        margin-bottom: .75em
      
      #choose
        padding-top: 20px
      
      #facebook
        width: 300px
        margin: 5em auto
        text-align: center

      #logo
        width: 400px 
        margin: 0 auto
        padding-top: 5em
  
        img
          width: 350px