@import 'base'
@import 'fonts'
@import 'card'

#home
  #index
    #copy
      margin-top: 30px

      #heading
        
        h1
          width: 600px
          margin: 0em auto
          margin-bottom: .75em
          color: #C60
      
      #top_copy
        width: 960px
        
        #login_and_points
          width: 275px
        
          #facebook
            width: 250px
            margin-bottom: 30px
            .login_button
              margin-top: 10px
            b
              font-size: 13px

          
          #main_points
            .secure, .user, .heart
              text-align: left
              margin-top: 15px
            
              img
                text-align: top
                width: 30px
                margin-right: 3px
              p
                width: 200px
                font-size: 10pt
                margin: 0px
                padding: 0px
          
        #screen_shot
          position: relative
          width: 650px
          height: 250px
          background: url(/images/ss_sample.png) no-repeat
          
          .question
            padding-top: 30px
            font-size: 1.10em
            
        .footnote
          padding-top: 20px
          clear: both
          font-size: 10px
          text-align: left

      #profile_count
        margin-top: 10px
        text-align: center
        .digits
          display: inline
          .digit
            font-family: "League-Gothic", Courier
            border: 1px solid gray
            +rounded_borders
            padding: 0px 3px
            font-size: 26px
            
        .copy
          display: inline
          +vintage(26px)
        
      #npos
        text-align: center
        .npo
          +rounded_borders
          padding: 3px
          background: white
          margin-right: 10px
          
      #how_it_works
        text-align: left
        
        ol
          list-style-type: decimal
          margin-left: 20px
          width: 100%
          
          li
            margin-bottom: 2em
            font-size: 18px
            font-weight: bold

            b, p
              font-size: 13px
              margin: 0
              padding: 0
              
            b
              color: #360
            
            p
              font-weight: normal
              width: 100%
            
      
  #show
    +card
    
    h1, h2, h3
      width: 700px
      margin: .75em auto
    
    #cards
      width: 750px
      margin: 0 auto
      
      .heart
        padding: 100px 20px
        img
          width: 100px
        
      .card
        margin-bottom: 40px

  #index, #show
    #facebook
      width: 300px
      margin: 1em auto
      text-align: center
    
    #not_user
      font-size: 12px
      margin-top: 5px
    
    #friends
      width: 500px
      margin: 20px auto

    #logo
      width: 400px 
      margin: 0 auto
      padding-top: 5em

      img
        width: 350px

  #not_yet
    #npos
      .npo
        margin: 10px
        
  #beta_test
    ul
      margin: 2em 0em
      text-align: left
      margin-left: 200px
      width: 500px
      
      li
        list-style: disc
        text-align: left
        margin: 1.25em 0em
        line-height: 1.5em
        
    #actions
      margin-top: 2em
      text-align: center
      
  #terms, #privacy, #about, #faq
    h4
      font-size: 1.25em
      
  #faq
    .question
      font-weight: bold
      margin-bottom: 10px
      
    .answer
      width: 650px
      margin: 0 auto
      margin-bottom: 2em
      line-height: 1.30em
            
.left
  text-align: left