@import 'base'
@import 'card'
@import 'fancy-buttons'
@import 'overlays'

#spark
  #new
    #copy
      text-align: center
      
    #please_wait
      #actions
        margin-top: 2em
        #wait_btn
          font-size: 16px
          padding: 10px
          width: 150px
        #next_btn
          display: none

      h2
        color: #0E4873

      .msg
        display: none
      
      .num_q
        font-size: 1.25em
        
      .you
        color: #360
      
    #try_later
      display: none

    #npos
      .npo
        margin-right: 10px

#sparks
  #index
    position: relative
    #playing_field
      height: 400px
      padding-left: 25px
      +card

    #score_board
      clear: both
      margin-bottom: 2em
      text-align: left
      
      #counts
        a
          color: white
        
          &:hover
            color: yellow
          
        .count
          font-size: 1.2em
          font-weight: bold
          text-align: center
          margin-bottom: 15px    
          
        .answer_num
          font-style: italic
          font-size: 12px
          padding-left: 40px
          margin-bottom: 10px
      
      .spark_history
        width: 600px
      
      #counts
        +black_trans
        +rounded_borders(8px)
        padding: 10px
        width: 200px
        h1
          color: #fff
          text-shadow: #333 2px 2px 2px        
      
    #question
      position: relative
      top: 10px
      margin-bottom: 40px
      -moz-box-shadow: 3px 3px 4px #000
      -webkit-box-shadow: 3px 3px 4px #000
      box-shadow: 3px 3px 4px #000
      border: 2px solid #666
      
      h1
        margin: 0 0 10px 0
        padding: 0
        .q_num
          margin-right: 5px
          color: #0E4873
          font-size: 15px
          vertical-align: baseline
          
        .question, .q_num
          display: inline
        
      
      &.recording
        float: right
        
  #end_round
    p
      text-align: left
      
    h2
      width: 600px
      margin: 0 auto
  
    .share_actions
      width: 450px
      margin: 15px auto

      .share_facebook
        a
          background: url('/images/buttons/share_facebook.png') no-repeat 0 0
          width: 224px
          height: 81px
          display: block

          &:hover
            background: url('/images/buttons/share_facebook.png') no-repeat -81 0

      .share_twitter
        a
          background: url('/images/buttons/share_twitter.png') no-repeat 0 0
          width: 224px
          height: 81px
          display: block

          &:hover
            background: url('/images/buttons/share_twitter.png') no-repeat -81 0

    .share_email
      margin-top: 25px
      h4
        width: 650px
        margin: 0 auto
        text-align: left
        font-size: 24px
        
    input
      font-size: 18px
      padding: 5px
      width: 350px

    #mturks
      border: 3px solid red
      h1, p
        text-align: center

