@import 'base'
@import 'card'
@import 'fancy-buttons'

#spark
  #new
    #please_wait
      #actions
        margin-top: 2em
        #wait_btn
          font-size: 16px
          padding: 10px
          width: 150px
        #next_btn
          display: none
          
    #try_later
      display: none
      

#sparks
  #index
    position: relative
    #playing_field
      height: 400px
      padding-left: 25px
      +card

    #score_board
      clear: both
      margin-bottom: 2em
      
      #selected
        width: 600px
        font-size: 12px
        .pic
          width: 30px
          img
            width: 24px
            height: 24px
            vertical-align: middle
            
          margin-right: 10px
        .text  
          width: 560px
          text-align: left
          .name
            color: #1A8922
            font-weight: bold
          .not_selected_name
            color: #900
          
      
      #counts
        +black_trans
        +rounded_borders(8px)
        padding: 10px
        width: 200px
        h1
          color: #fff
          text-shadow: #333 2px 2px 2px        
      
    #question
      position: relative
      top: 10px
      margin-bottom: 40px
      -moz-box-shadow: 3px 3px 4px #000
      -webkit-box-shadow: 3px 3px 4px #000
      box-shadow: 3px 3px 4px #000
      border: 2px solid #666
      
      &.recording
        float: right
        
=overlay
  display: none
  width: 750px
  border: 10px solid #666
  padding: 10px
  text-align: left
  z-index: 100

  border: 10px solid rgba(82, 82, 82, 0.698)
  +rounded_borders(8px)

  background: #fff

  a.button, input.button
    +fancy-button(darken(#57b42c, 8))      
    color: #fff
    text-decoration: none

#overlay
  +overlay

  .sidebar
    +card
    width: 325px   

  .main_panel
    width: 425px
    font-size: 13px

    #actions
      position: absolute
      width: 400px
      bottom: 20px
      vertical-align: bottom
      
#your_story
  h2
    margin: 1em 0em
    
  .row
    margin-bottom: .75em
  
  .label
    font-weight: bold
    padding-right: 10px
  
  form
    textarea
      width: 400px
      height: 100px

