@import 'base'
@import 'card'
@import 'fancy-buttons'
@import 'overlays'

#spark
  #new
    #please_wait
      #actions
        margin-top: 2em
        #wait_btn
          font-size: 16px
          padding: 10px
          width: 150px
        #next_btn
          display: none
          
    #try_later
      display: none
      

#sparks
  #index
    position: relative
    #playing_field
      height: 400px
      padding-left: 25px
      +card

    #score_board
      clear: both
      margin-bottom: 2em
      
      #selected
        width: 600px
        font-size: 12px
        .pic
          width: 30px
          img
            width: 24px
            height: 24px
            vertical-align: middle
            
          margin-right: 10px
        .text  
          width: 560px
          text-align: left
          .name
            color: #1A8922
            font-weight: bold
          .not_selected_name
            color: #900
          
      
      #counts
        +black_trans
        +rounded_borders(8px)
        padding: 10px
        width: 200px
        h1
          color: #fff
          text-shadow: #333 2px 2px 2px        
      
    #question
      position: relative
      top: 10px
      margin-bottom: 40px
      -moz-box-shadow: 3px 3px 4px #000
      -webkit-box-shadow: 3px 3px 4px #000
      box-shadow: 3px 3px 4px #000
      border: 2px solid #666
      
      &.recording
        float: right
        
