%h2= "Join the movement and turn your $5 into $5,000 for #{current_user.npo.name}."
      
%p
  Givey.org is a community movement where we are banding together to save the world.  100%* of your $5 contribution 
  will be given to the charity that the most altruistic people on Facebook endorse (it could be yours!)

%p
  %b You will be able to continue with Givey right after you give $5 :)
      