%h2= "Join the movement and potentially turn your $5 into $5,000 for #{current_user.npo.name}."
      
%p
  Givey.org is a social movement where the most altruistic people can help save the world.  100%* of your $5 contribution 
  will be given to the charity that the most altruistic people on Facebook endorse (it could be yours!)

%p
  %b There's still 5 more questions to go to unlock your scores, which you can complete after the contribution (or skip it if you don't really care about changing the world :( )...
      