#mturk
  #new
    #copy.trans
      %h1 Mechanical Turk "Tester" Registration
      
      %p
        Thank you for volunteering to help us test Givey.org.  Givey.org is a social movement designed as an interactive "game." 
        Through Givey, you are asked a series or fun and interesting questions and asked to pick which "Facebook" friend 
        best matches the question.  Every question has a point value that helps us determine, essentially, who is and is not 
        "altruistic."  We will use that information to help us decide where to donate $5,000.
        
      %h2 You NEED a Facebook Account To Test Givey.org
      %p 
        To test givey, you are required to have a Facebook account.  None of your "friends" will be saved or shared and 
        no one will be contacted, but Givey works by asking you questions about your Facebook friends.  
        
      %p
        Also, you need more than 
        %b 40 Facebook friends
        to play Givey and complete this HIT.
      
      %h2 Tester Tasks
      
      %p
        As a tester, we are asking you to do the following:
        
      %ol
        %li Go through Givey.org playing the game with your Facebook friends.  
        %li Note any bugs or "oddities" that you come across and where it happened.  
        %li 
          %b DO NOT SHARE your referral link with anyone!
          At various times you will be presented with "Share" screens.  Please DO NOT share Givey with anyone as it's in testing mode 
          and they will not be able to use it.  Just keep moving forward when you see these screens.
        %li Return to the HIT on Mechanical Turks, enter your confirmation token and complete the form about your experience.
        
      %h2 You MUST Complete The Game
      %p
        To be compensated, one of two things needs to happen:
        
      %ol
        %li You need to complete all 20 questions in round 1.  You will then be given a confirmation token to enter back on Mechanical Turks.
        %li You need to have hit a verifiable bug that you report that prohibits you from moving forward.
        
      %p
        If you are ready to begin, click on the button below.  Remember, all your answers will be anonymous and secure.
        
      #actions
        .login_button= link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
        
        
      
        