#game
  #needs_friends
    #copy.boxit
      %h1 Umm, let us be blunt...
      
      %h2 You don't have enough (Facebook) friends to play the game.
      
      %p
        Click 
        = link_to "here", 'http://www.facebook.com'
        to go to Facebook and invite some friends. 
        
      %p
        Once you have a solid handful, come on back to us 
        and we'll be happy to let you play.