- title "#{current_user.name}'s Trusted Friends Game", false

- content_for :head do
  :javascript
    $(document).ready(function() {
       url = $('#new').attr('givey:url');
       $.post(url, function(data) {
          if (data.status == 'complete') {
            location.href = data.url
          } 
        });
    });
    
#game
  #new{'givey:url' => "#{games_path(@campaign)}"}
    #copy
      %h1 Please Wait...
      
      %h2 We're Generating Your Game...
      
      %p
        Our people are talking to Facebook's people to get a random group of 
        your people to determine, well, whose going to change the world.
        
      %p
        This should only take about a minute or so :)
        
      .spinner
        = image_tag "spinner.gif", :title => "Spinner"
              
      
