- title 'It Begins.  Share the Love!'
#campaign
  #share
    #copy
      %h1 It Begins!
      
      %h2 We're Notifying the Lab Rats...
      
      %p
        In the next few minutes we will notify the friends you selected 
        that funds are available for their use.  We will let you know 
        when they make their 
        decision (you know, save the world, be selfish).
    
      %h3 In the meantime...
    
      %p
        Please take a moment to "Like" what we are trying to do and write a nice comment
        that will get others to participate so we can make a difference!
  
      #fb-root
      %script{:src => "http://connect.facebook.net/en_US/all.js#appId=#{APP_CONFIG[:facebook]['app_id']}&amp;xfbml=1"}
      %fb:comments{:numposts => "10", :publish_feed => "true", :width => "425"}