/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 16px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 23, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 26, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 90, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 94, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 97, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 2, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic legend {
  padding: 0.75em 0em;
  font-weight: bold;
  font-size: 1.25em;
}

/* line 7, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol {
  padding-left: 1.5em;
}
/* line 9, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li {
  margin-bottom: 0.5em;
  clear: both;
}
/* line 13, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
  font-weight: bold;
}
/* line 21, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li .value {
  display: block;
  margin-left: 25%;
}

/* line 3, ../../../../app/stylesheets/admin/categories.sass */
#admin #category .category {
  display: inline;
  padding-right: 0.5em;
}

/* line 1, ../../../../app/stylesheets/_flash.sass */
#flash {
  display: none;
  width: 98%;
  padding: 15px;
  border-bottom: 2px solid gray;
  text-align: center;
  background-color: #f7da73;
  -moz-box-shadow: 3px 3px 4px black;
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black;
  z-index: 2;
  position: absolute;
}
/* line 14, ../../../../app/stylesheets/_flash.sass */
#flash #flash_notice {
  color: black;
}
/* line 17, ../../../../app/stylesheets/_flash.sass */
#flash #flash_error,
#flash #flash_alert {
  color: #cc0000;
}

/* line 21, ../../../../app/stylesheets/_flash.sass */
.fieldWithErrors {
  display: inline;
}

/* line 24, ../../../../app/stylesheets/_flash.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 33, ../../../../app/stylesheets/_flash.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 42, ../../../../app/stylesheets/_flash.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 44, ../../../../app/stylesheets/_flash.sass */
.error_messages ul {
  margin: 0;
}

/* line 7, ../../../../app/stylesheets/admin/admin.sass */
body, html {
  background: white;
}

/* line 10, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper {
  text-align: left;
}
/* line 13, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper #main {
  text-align: left;
}
/* line 16, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper #main table {
  border: solid 1px gray;
  background-color: white;
  width: 750px;
}
/* line 65, ../../../../app/stylesheets/_base.sass */
#content-wrapper #main table tr {
  background-color: white;
}
/* line 67, ../../../../app/stylesheets/_base.sass */
#content-wrapper #main table tr th {
  background-color: #cccccc;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
}
/* line 70, ../../../../app/stylesheets/_base.sass */
#content-wrapper #main table tr th, #content-wrapper #main table tr td {
  text-align: left;
  vertical-align: top;
  padding: 0.25em;
}
/* line 75, ../../../../app/stylesheets/_base.sass */
#content-wrapper #main table tr td {
  border-bottom: solid 1px #cccccc;
}
/* line 19, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper #main .trans {
  padding: 10px;
  background: white;
  -moz-border-radius: 5px;
  border-radius: 5px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  margin-bottom: 10px;
}
/* line 30, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper #main .trans a {
  color: #000066;
  text-decoration: underline;
}
/* line 34, ../../../../app/stylesheets/admin/admin.sass */
#content-wrapper #actions {
  margin-top: 3em;
}
