/* line 3, ../../../../app/stylesheets/_base.sass */
.wf-active h1 {
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
}

/* line 7, ../../../../app/stylesheets/_base.sass */
.wf-active h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

/* line 11, ../../../../app/stylesheets/_base.sass */
.wf-active h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
}

/* line 15, ../../../../app/stylesheets/_base.sass */
.wf-active .cabin {
  font-family: "Cabin";
  font-size: 18px;
}

/* line 19, ../../../../app/stylesheets/_base.sass */
.margin_top_1 {
  margin-top: 2em;
}

/* line 22, ../../../../app/stylesheets/_base.sass */
.margin_top_2 {
  margin-top: 2em;
}

/* line 74, ../../../../app/stylesheets/_base.sass */
.row {
  overflow: hidden;
  width: 100%;
}
/* line 78, ../../../../app/stylesheets/_base.sass */
.row .fleft {
  float: left;
}
/* line 81, ../../../../app/stylesheets/_base.sass */
.row .fright {
  float: right;
}

/* line 2, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic legend {
  padding: 0.75em 0em;
  font-weight: bold;
  font-size: 1.25em;
}

/* line 7, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol {
  padding-left: 1.5em;
}
/* line 9, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li {
  margin-bottom: 0.5em;
  clear: both;
}
/* line 13, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
  font-weight: bold;
}
/* line 21, ../../../../app/stylesheets/_showtastic.sass */
fieldset.showtastic ol li .value {
  display: block;
  margin-left: 25%;
}

/* line 5, ../../../../app/stylesheets/admin/admin.sass */
#admin table {
  border: solid 1px gray;
  background-color: white;
  width: 750px;
}
/* line 61, ../../../../app/stylesheets/_base.sass */
#admin table tr {
  background-color: white;
}
/* line 63, ../../../../app/stylesheets/_base.sass */
#admin table tr th {
  background-color: #cccccc;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
}
/* line 66, ../../../../app/stylesheets/_base.sass */
#admin table tr th, #admin table tr td {
  text-align: left;
  vertical-align: top;
  padding: 0.25em;
}
/* line 71, ../../../../app/stylesheets/_base.sass */
#admin table tr td {
  border-bottom: solid 1px #cccccc;
}
/* line 8, ../../../../app/stylesheets/admin/admin.sass */
#admin #actions {
  margin-top: 3em;
}
