- title "New Game Changing Campaign"

#campaign
  #new
    #copy
      %h1 What To Expect
      
      %p
        We're going to select a bunch of random friends 
        from your Facebook account.
        
      %p
        Then you're going to "pit" them against each other 
        to try to figure out who you truly think could save 
        the world if given just $5.
        
      %p
        And then we're going to find out if you're right.
        
      %h2 Ready?
      
      #actions
        =button_to "Let's begin", campaigns_path
      
      