- title "#{current_user.name}'s Campaign Video", false

#campaign
  #record_video
    #copy
      %h1= "Hey #{current_user.first_name},"
      %h2 How about a few words for the camera?
      
      %p
        Social giving is about connecting.  If you have a webcam 
        attached to your computer, we recommend taking less than 
        30 seconds to tell your friends what types of causes matter 
        to you.
        
      %p
        %object#nimbb{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :codebase => "http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab", :height => "240", :width => "320"}
          %param{:name => "movie", :value => "http://player.nimbb.com/nimbb.swf?mode=record&key=dbb2bca2a1&lang=en"}/
          %param{:name => "allowScriptAccess", :value => "always"}/
          %embed{:allowScriptAccess => "always", :height => "240", :name => "nimbb", :pluginspage => "http://www.adobe.com/go/getflashplayer", :src => "http://player.nimbb.com/nimbb.swf?mode=record&key=dbb2bca2a1&lang=en", :width => "320"}
      
